<div id="intro2">
	<div class="title">
		<h1 class="small">About</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>
	<div id="services">
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>
<div id="work">
	<div class="container">	
		<div class="portfolio2">
		<div class="sixteen columns">
			<h3><span class="line"></span> The Programming Fellowship <span class="line"></span></h3>
			</br >
			<p>A 10 week training program designed to help women become awesome programmers.  We teach the fundamentals of modern web development, then introduce you to Silicon Valley companies looking to expand their engineering teams.</p>
		</div>
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->

<div id="work">
	<div class="container">	
		<div class="portfolio2">
		<div class="sixteen columns">

			<p>A 10 week training program designed to help women become awesome programmers.  We teach the fundamentals of modern web development, then introduce you to Silicon Valley companies looking to expand their engineering teams.</p>
			</br >
			</div>
			
			<div class="four columns">
					<img src="/assets/python-icon.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Command Line</p>				
			</div> <!-- end five columns -->
			
			<div class="four columns">
					<img src="/assets/python-icon.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Python</p>				
			</div> <!-- end five columns -->
			
			<div class="four columns">
					<img src="/assets/python-icon.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Javascript</p>				
			</div> <!-- end five columns -->
			
			<div class="four columns">
					<img src="/assets/python-icon.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">HTML & CSS</p>				
			</div> <!-- end five columns -->
			
			<div class="four columns">
					<img src="/assets/python-icon.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Git</p>				
			</div> <!-- end five columns -->
			
			<div class="four columns">
					<img src="/assets/python-icon.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Flask</p>				
			</div> <!-- end five columns -->
			
			<div class="four columns">
					<img src="/assets/python-icon.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Django</p>				
			</div> <!-- end five columns -->
			
				<div class="four columns">
						<img src="/assets/python-icon.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">Pair Programming</p>				
				</div> <!-- end five columns -->
			
			
			
			<div class="clear"></div>
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->



<div class="jagged2" id="about-hook"></div>	
<div class="separator">
	<div class="container">
		<div class="process-separator three columns">
			<div class="kimber-image">
				<img src="/assets/forbes.png" class="scale-with-grid img-circle"alt="" />
				<p class="proj-name-separator">Forbes</p>
			</div>
		</div>
		<div class="process-separator thirteen columns">
			<div class="kimber-quote">
				<div class="separator-quote">
				<p>"After 10-week python training program, women engineers receive job offers from Silicon Valley Startups"<a href="#" class="btn large blue separator">Apply &rsaquo;&rsaquo;</a></p>
				</div>
			</div>	
		</div>
</div>
<div class="jagged3"></div>



<div id="work">
	<div class="container">	
		<div class="portfolio2">
		<div class="sixteen columns">			
			
			<h3><span class="line"></span> The Team <span class="line"></span></h3>
			<p class="subheader" style="text-align: center">We are very lucky to be working with such awesome people!</p>
		</div>
		<div class="clear"></div>
		<div class="team">
			
			<!-- Christian -->
			<div class="six columns">
				<img src="/assets/christian.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Christian Fernandez</p>
				<p class="t-position">Co-founder/Instructor</p>
				<ul>
					<li><a href="#"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Christian</h5>
					<p>Christian grew up on the tropical island of American Samoa, learning to hunt eels in the coral reefs. He applied those skills later to write assembly code to blit bitmaps in mode 13h (doing graphics with assembly is a lot like eel-wrangling). These days, he's hung up his eel gloves in favor of building network applications and teaching programming. He's been a senior software developer at Kivera (acquired by TCS), Ask, and Fuzebox.</br ></br >He's also a founding member and resident python instructor at Ace Monster Toys, an educational hackerspace in Oakland, and was an instructor for the inaugural class of Dev Bootcamp. Christian holds a B.S. in Computer Science and Electrical Engineering from the University of California, Berkeley.</p>
				</div>
				</div>
			<!-- END Christian -->
			
			<!-- David -->
			<div class="six columns">
				<img src="/assets/david.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">David J. Phillips</p>
				<p class="t-position">Co-founder</p>
				<ul>
					<li><a href="#"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>David</h5>
					<p>David enjoys startups, programming, making music, and living in San Francisco. He also has a passion for good design. Since starting his career at Deloitte, he has been lucky enough to start companies like Banjo and build products that reach over a million users across the world.</br ></br >After catching the startup bug, David decided to learn how to program.  He loves networking, learning, and building web applications. He holds a B.A. in Business Economics from the University of California, Santa Barbara.</p>
				</div>
				</div>
			<!-- END David -->

			<!-- Charles -->
			<div class="six columns">
				<img src="/assets/charles.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Charles Ruhland</p>
				<p class="t-position">Instructor</p>
				<ul>
					<li><a href="#"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Charles</h5>
					<p>Charles has always enjoyed learning and passing on knowledge to others. Before joining Hackbright Academy, he gained big data	experience as a senior software engineer at Klout. Prior to that he developed internal tools at Salesforce.com.</br ></br >Charles holds a B.S. in Computer Science from Carnegie Mellon University. When he's not experimenting with functional programming, he can usually be found running, hiking, or reading.</p>
				</div>
				</div>
			<!-- END Charles -->
			

			<div class="clear"></div>
			
		</div> <!-- end team -->
		
		<!-- ADVISORS -->
		<div class="sixteen columns">
			<h3><span class="line"></span> Advisors <span class="line"></span></h3>
			</br >
		</div>
		<div class="clear"></div>
		<div class="team">
			
			<!-- Christian -->
			<div class="six columns">
				<img src="/assets/janine.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Janine Yoong</p>
				<p class="t-position">Advisor</p>
				<p class="t-position">VP Business Development @ Tokbox</p>
				<ul>
					<li><a href="#"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Janine</h5>
					<p>Janine gets front row seats to watch amazing apps come to life as she works with TokBox partners. Before joining Tokbox in April 2010, Janine worked at Google driving advertising partnerships in the local space. During her three years at Google, she worked with Yellow Pages companies, newspaper publishers, auto ad agencies and geo-local startups to put together advertising solutions for small businesses. Prior to Google, Janine worked at Yahoo! in Operations Finance supporting the HotJobs business unit. In addition to planning and strategic review, she acted as lead analyst for the first phase of the Yahoo Newspaper Consortium, Yahoo's partnerships with over 200 newspapers on its local ad management platform. Janine was an Investment Banking Analyst at Lehman Brothers in the Financial Institutions Group from 2003 - 2005. </br ></br >Janine holds a B.A. in International Affairs and Public Policy from Princeton University.</p>
				</div>
				</div>
			<!-- END Janine -->
			
			<!-- Alex -->
			<div class="six columns">
				<img src="/assets/alex.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Alex Cavoulacos</p>
				<p class="t-position">Advisor</p>
				<p class="t-position">Founder and COO @ The Daily Muse</p>				<ul>
					<li><a href="#"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Alex</h5>
					<p>Alex makes things work at The Daily Muse. From operations to product, she’s our #1 list maker. Prior to founding The Daily Muse, Alex was a management consultant, solving critical strategic and operational questions for top firms worldwide. She graduated from Yale University, where she was the Executive Director of Global21 – a network of international affairs magazines at premier universities around the world. It was there that she first gained experience in publishing, managing a team of 300 on 6 continents, and reaching over a quarter of a million readers with print magazines. </br ></br >Follow her on Twitter @acavoulacos</p>
				</div>
				</div>
			<!-- END Alex -->

			<div class="clear"></div>
			
		</div> <!-- end ADVISORS -->
		
		
	
	</div> <!-- end container -->	

</div> <!-- end about -->






<div id="contact">
	<div class="container">
		<div class="sixteens columns">
			<div class="headline">
				<h3><span class="line"></span> Location <span class="line"></span></h3>
			</div> <!-- end headline -->
		</div> <!-- end sixteen columns -->
		
		<div class="clear"></div>
		
		<div class="sixteen columns">
			<iframe class="map" width="932" height="292" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;t=m&amp;ll=40.760001,-73.975968&amp;spn=0.009492,0.039954&amp;z=15&amp;output=embed"></iframe>
		</div> <!-- end sixteen columns -->
		
		
		<div class="six columns">
		
			<div class="contact-info">
				<h5>Contact Info</h5>
				<p><img src="/assets/icn-email.png" alt="" /> d@hackbrightacademy.com </p>
				<p><img src="/assets/icn-phone.png" alt="" /> 415-123-4567</p>
				<p><img src="/assets/icn-address.png" alt="" /> 2017 Mission St. #301<br />
					San Francisco, CA 94110</p>
			</div> <!-- end contact-info -->
			
			<div class="social-bottom">
				<ul>
					<li><a href="#"><img src="/assets/icn-skype2.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-facebook2.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-gplus.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-pinterest.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-dribbble.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-twitter2.png" alt="" /></a></li>
				</ul>
			</div>
			
		</div> <!-- end six columns -->

	</div> <!-- end container -->
</div> <!-- end contact -->
