<div id="intro2">
	<div class="title scale-with-grid">
		<h1 class="small">About</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>
	<div id="services">
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>

	
<div id="work">
	<div class="container">	
		<div class="portfolio2">
		<div class="sixteen columns">
			<h3><span class="line"></span>The Engineering Fellowship<span class="line"></span></h3>
			</br >
			<p>Hackbright Academy runs a quarterly engineering fellowship in San Francisco. This is a 10-week accelerated software development program designed to help women become awesome programmers. At Hackbright they learn the fundamentals of computer science and modern web development, and are introduced to Silicon Valley companies looking to expand their engineering teams. Partner companies include Facebook, Twitter, Pinterest, SurveyMonkey, Eventbrite and many more.</p>
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->

<div id="work">
	<div class="container">	
		<div class="portfolio2">
			<h3><span class="line"></span>What you will learn<span class="line"></span></h3>
			<br />
			<div class="four columns">
					<img src="/assets/command-line.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name3">Command Line</p>				
			</div> <!-- end five columns -->
			
			<div class="four columns">
					<img src="/assets/python-icon.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name3">Python</p>				
			</div> <!-- end five columns -->
			
			<div class="four columns">
					<img src="/assets/js.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name3">Javascript</p>				
			</div> <!-- end five columns -->
			
			<div class="four columns">
					<img src="/assets/html.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name3">HTML & CSS</p>				
			</div> <!-- end five columns -->
			
			<div class="four columns">
					<img src="/assets/git.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name3">Git</p>				
			</div> <!-- end five columns -->
			
			<div class="four columns">
					<img src="/assets/flask.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name3">Flask</p>				
			</div> <!-- end five columns -->
			
			<div class="four columns">
					<img src="/assets/dj.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name3">Django</p>				
			</div> <!-- end five columns -->
			
				<div class="four columns">
						<img src="/assets/pairing.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name3">Pair Programming</p>				
				</div> <!-- end five columns -->

				<div class="four columns">
						<img src="/assets/sql.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name3">SQL/ORMs/NoSQL</p>				
				</div> <!-- end five columns -->
				
				<div class="four columns">
						<img src="/assets/deploy.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name3">Deployment</p>				
				</div> <!-- end five columns -->
				
				<div class="four columns">
						<img src="/assets/python-icon.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name3">Interview Skills</p>				
				</div> <!-- end five columns -->
				
				<div class="four columns">
						<img src="/assets/python-icon.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name3">And more...</p>				
				</div> <!-- end five columns -->
			
			
			
			<div class="clear"></div>
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->



<div class="jagged2" id="about-hook"></div>	
<div class="separator">
	<div class="container">
		<div class="process-separator three columns">
			<div class="kimber-image">
				<img src="/assets/forbes.png" class="scale-with-grid img-circle"alt="" />
				<p class="proj-name-separator">Forbes</p>
			</div>
		</div>
		<div class="process-separator thirteen columns">
			<div class="kimber-quote">
				<div class="separator-quote">
				<p>"After 10-week python training program, women engineers receive job offers from Silicon Valley Startups"</p>
				</div>
			</div>	
		</div>
</div>
<div class="jagged3"></div>



<div id="work">
	<div class="container">	
		<div class="portfolio2">
		<div class="sixteen columns">			
			
			<h3><span class="line"></span> The Team <span class="line"></span></h3>
			<p class="subheader" style="text-align: center">We love working with awesome people, <a href="mailto:d@hackbrightacademy.com">join us</a>!</p>
		</div>
		<div class="clear"></div>
		<div class="team">
						
			<!-- Christian -->
			<div class="six columns">
				<img src="/assets/czf.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Christian Fernandez</p>
				<p class="t-position">Co-founder & CTO</p>
				<ul>
					<li><a href="http://www.twitter.com/chriszf" target="_blank"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="http://www.linkedin.com/profile/view?id=116458051" target="_blank"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Christian</h5>
					<p>Christian grew up on the tropical island of American Samoa, learning to hunt eels in the coral reefs. He applied those skills later to write assembly code to blit bitmaps in mode 13h (doing graphics with assembly is a lot like eel-wrangling). These days, he's hung up his eel gloves in favor of building network applications and teaching programming. He's been a senior software developer at Kivera (acquired by TCS), Ask, and Fuzebox.</br ></br >He's also a founding member and resident python instructor at Ace Monster Toys, an educational hackerspace in Oakland. Christian holds a B.S. in Computer Science and Electrical Engineering from the University of California, Berkeley.</p>
				</div>
			</div>
			<!-- END Christian -->
			
			<!-- David -->
			<div class="six columns">
				<img src="/assets/djp.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">David J. Phillips</p>
				<p class="t-position">Co-founder & CEO</p>
				<ul>
					<li><a href="http://www.twitter.com/davj" target="_blank"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="http://www.linkedin.com/in/davjphillips" target="_blank"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>David</h5>
					<p>David enjoys startups, programming, making music, and living in San Francisco. He also has a passion for good design. Since starting his career at Deloitte, he has been lucky enough to start companies like Banjo and build products that reach over a million users across the world.</br ></br >After catching the startup bug, David decided to learn how to program.  He loves learning, meeting new people, and building things that improve people's lives. He holds a B.A. in Business Economics from the University of California, Santa Barbara.</p>
				</div>
			</div>
			<!-- END David -->
			<div class="clear"></div>
						<!-- Liz -->
						<div class="six columns">
							<img src="/assets/liz.png" class="scale-with-grid img-circle" alt="" />
							<p class="t-name">Liz Howard</p>
							<p class="t-position">Director of Operations & Instructor</p>
							<ul>
								<li><a href="https://twitter.com/lizthedeveloper" target="_blank"><img src="/assets/icn-twitter.png" alt="" /></a></li>
								<li><a href="http://lnkd.in/PHT6Sb" target="_blank"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
							</ul>
						</div> <!-- end six columns -->
						<div class="eight columns">
							<div class="testimonials">
								<h5>Liz</h5>
								<p>Liz learned to write databases before she learned to write essays. Her parents were both software engineers, and programming is in her blood. After leaving school to work on one of the first EMR programs in the country with her father, she did contract software development until she was old enough to leave home. She had a brief sojourn into Kindergarden teaching, but ultimately couldn't leave programming. After that, she tooled around building software and leading teams for a number of large corporations, and ended up rewriting most of the fraud prevention systems for 8 of the top 10 banks in the country. 
			</br></br>Currently Liz leads and teaches for the San Francisco chapter of Girl Develop It!, a worldwide organization aimed at helping women get into programming. She's teaching, developing curriculum, working on community, operations and strategy at Hackbright.</p>
							</div>
						</div>
						<!-- END Liz -->

			
			<!-- Angie -->
			<div class="six columns">
				<img src="/assets/angie.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Angie Chang</p>
				<p class="t-position">Director of Growth</p>
				<ul>
					<li><a href="https://twitter.com/thisgirlangie" target="_blank"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="http://linkedin.com/in/thisgirlangie/" target="_blank"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Angie</h5>
					<p>Angie is Director of Growth at Hackbright. She co-founded Women 2.0, a media company promoting women in high-growth entrepreneurship. From leading the editorial and content at Women 2.0, Angie built Women 2.0's online presence (website, newsletter, social media marketing) from the ground up starting in 2005. She also founded the San Francisco chapter of Girl Geek Dinners in 2008, organizing frequent Bay Area Girl Geek Dinners with Sukrutha Bhadouria Raman. The sold-out dinners for technical women in the Silicon Valley are the hottest ticket in town. </br></br> Previously, Angie held roles in product management and web UI design at various tech startups in the Silicon Valley. Angie holds a B.A. in English and Social Welfare from UC Berkeley. Follow her on Twitter at @thisgirlangie.</p>
				</div>
			</div>
			<!-- END Angie -->
			<div class="clear"></div>
			<!-- Cynthia -->
			<div class="six columns">
				<img src="/assets/cynthia.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Cynthia Dueltgen</p>
				<p class="t-position">Instructor</p>
				<ul>
					<li><a href="https://twitter.com/cdueltgen" target="_blank"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="www.linkedin.com/in/cynthiadueltgen" target="_blank"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Cynthia</h5>
					<p>Cynthia's first coding happened on an Apple IIe computer her parents bought when she was ten years old, and even before that she was playing Oregon Trail on the PET 32 computers at her elementary school. By age 12 she decided she wanted to either be a rocket scientist or write computer games. She was lucky enough to have parents who never bothered to tell her that girls didn't do that sort of thing, and eventually got a Computer Science degree from Northwestern University. There she was very active in the Society of Women Engineers and is pretty sure there was at least one other woman in her CS graduating class. She traded the dream of video games for 3D computer graphics and has worked at Pixar, Nvidia, and IDEO.
					</br></br>She is super excited to be teaching at Hackbright and can't wait to help unleash more awesome women developers on the world.</p>
				</div>
			</div>
			<!-- END Cynthia -->
			</div>
			
			<!-- Nick Avgerinos -->
			<div class="six columns">
				<img src="/assets/avgerinos.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Nick Avgerinos</p>
				<p class="t-position">Instructor</p>
				<ul>
					
					<li><a href="http://www.linkedin.com/pub/nick-avgerinos/5/814/957" target="_blank"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Nick Avgerinos</h5>
					<p>Nick learned to program at an early age on Apple II's and TRS-80's, borrowing books from the library and absorbing issues of Enter magazine cover to cover.  By the age of 12 he'd written a program to keep track of when his sister borrowed money (and how much interest to charge!).  He's been programming ever since.</br></br>Nick has a BS in Computer Science from the University of Maryland College Park.  After college, Nick worked at several ISPs, including Digex, where he learned how the internet works and is probably the source of his belief that everyone should run their own mail server.  His career spans companies of many shapes and sizes, from small start-ups building satellite-based vehicle tracking systems, WiFi access management and VoIP to large companies like Adobe.</br></br>More recently, he was Director of Engineering at the gaming company KIXEYE.  When his girlfriend attended Hackbright's second session, he immediately saw something special and wanted to get more involved.  One day a week quickly turned into two.  He's now taking the plunge and is instructing at Hackbright full time.
				</p>
				</div>
			</div>
			<!-- END Nick Avgerinos -->
			<!-- Nick Avgerinos -->
			<div class="six columns">
				<img src="/assets/naudo.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Nick Audo</p>
				<p class="t-position">Instructor</p>
				<ul>
					<li><a href="https://twitter.com/naudo" target="_blank"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="http://www.linkedin.com/in/nicholasaudo" target="_blank"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Nick Audo</h5>
					<p>Nick is a software developer from the Pacific Northwest who has been passionate about software development for as long as he can remember.  After mentoring for several sessions, Nick was excited to take the skills he learned in the field and share them with the students of Hackbright.</br></br>As graduate of Neumont University, Nick has gotten to work on several big social networking websites reaching millions of users. When not in the classroom, Nick can usually be found exploring the city or cross country skiing in the winter. One day, he would love to bike around an entire country.
				</p>
				</div>
			</div>
			<!-- END Nick Avgerinos -->
			

		</div> <!-- end team -->
		
		<!-- ADVISORS -->
		<div class="sixteen columns">
			<h3><span class="line"></span> Advisors <span class="line"></span></h3>
			</br >
		</div>
		<div class="clear"></div>
		<div class="team">
			
			
			<!-- Alex -->
			<div class="six columns">
				<img src="/assets/alex.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Alex Cavoulacos</p>
				<p class="t-position">Advisor</p>
				<p class="t-position">Founder and COO @ The Daily Muse</p>				<ul>
					<li><a href="https://twitter.com/acavoulacos" target="_blank"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="http://www.linkedin.com/in/acavoulacos" target="_blank"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Alex</h5>
					<p>Alex makes things work at The Daily Muse. From operations to product, she’s our #1 list maker. Prior to founding The Daily Muse, Alex was a management consultant, solving critical strategic and operational questions for top firms worldwide. She graduated from Yale University, where she was the Executive Director of Global21 – a network of international affairs magazines at premier universities around the world. It was there that she first gained experience in publishing, managing a team of 300 on 6 continents, and reaching over a quarter of a million readers with print magazines. </br ></br >Follow her on Twitter @acavoulacos</p>
				</div>
				</div>
			<!-- END Alex -->
			
			<!-- Janine -->
			<div class="six columns">
				<img src="/assets/janine.png" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Janine Yoong</p>
				<p class="t-position">Advisor</p>
				<p class="t-position">VP Business Development @ Tokbox</p>
				<ul>
					<li><a href="https://twitter.com/janineyoong" target="_blank"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="http://www.linkedin.com/in/jyoong" target="_blank"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Janine</h5>
					<p>Janine gets front row seats to watch amazing apps come to life as she works with TokBox partners. Before joining Tokbox in April 2010, Janine worked at Google driving advertising partnerships in the local space. During her three years at Google, she worked with Yellow Pages companies, newspaper publishers, auto ad agencies and geo-local startups to put together advertising solutions for small businesses. Prior to Google, Janine worked at Yahoo! in Operations Finance supporting the HotJobs business unit. In addition to planning and strategic review, she acted as lead analyst for the first phase of the Yahoo Newspaper Consortium, Yahoo's partnerships with over 200 newspapers on its local ad management platform. Janine was an Investment Banking Analyst at Lehman Brothers in the Financial Institutions Group from 2003 - 2005. </br ></br >Janine holds a B.A. in International Affairs and Public Policy from Princeton University.</p>
				</div>
				</div>
			<!-- END Janine -->
			

			<div class="clear"></div>
			
			</div> <!-- end ADVISORS -->
			</div> <!-- end container -->	
		</div> <!-- end about -->
		
<!-- START CONTACT -->		
<div id="contact">
	<div class="container">
		<div class="sixteens columns">
			<div class="headline">
				<h3><span class="line"></span> Location <span class="line"></span></h3>
				<p>We are located in San Francisco, CA in the Union Square neighborhood.  It is a beautiful city and is in the center of all things tech.  We are very lucky to be here, located close to many of the world's top technology companies.</p>
			</div> <!-- end headline -->
		</div> <!-- end sixteen columns -->

		<div class="clear"></div>

		<div class="sixteen columns">
			<iframe class="map" width="932" height="292" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&amp;q=683+Sutter+Street,+San+Francisco,+CA&amp;ie=UTF8&amp;hq=&amp;hnear=683+Sutter+St,+San+Francisco,+California+94109&amp;gl=us&amp;t=m&amp;z=14&amp;ll=37.788861,-122.411586&amp;output=embed"></iframe>
		</div> <!-- end sixteen columns -->


		<div class="sixteen columns">
			<center>
			<div class="contact-info">
				<h5>Contact Info</h5>
				<p><img src="/assets/icn-email.png" alt=""><a href="mailto:hello@hackbrightacademy.com" target="_blank">hello@hackbrightacademy.com </a></p>
				<p><img src="/assets/icn-address.png" alt=""> 683 Sutter St. Suite 201<br>
					San Francisco, CA 94108</p>
			</div> <!-- end contact-info -->
			
			<div class="social-bottom">
				<ul>
					<li><a href="http://www.facebook.com/hackbrightacademy" target="_blank"><img src="/assets/icn-facebook2.png" alt=""></a></li>
					<li><a href="http://www.linkedin.com/company/hackbright-academy" target="_blank"><img src="/assets/icn-linkedin.png" alt=""></a></li>
					<li><a href="http://www.twitter.com/hackbright" target="_blank"><img src="/assets/icn-twitter2.png" alt=""></a></li>
				</ul>
			</div>
			</center>
		</div> <!-- end six columns -->
	</div> <!-- end container -->
</div> <!-- end contact -->
</div> <!-- end contact -->



		</div> <!-- end Something... -->
	</div> <!-- end container -->
</div> <!-- end contact -->
