<div id="intro2">
	<div class="title">
		<h1 class="smaller">Code of Conduct</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>
	<div id="services">
	<div class="container">
	</div> <!-- end container -->
<div id="work">
	<div class="main-content container">	
		<div id="work">
			<div class="container">	
				<div class="portfolio3">
				<div class="sixteen columns">
					<center><h3><span class="line"></span> Code of Conduct For Courses <span class="line"></span></h3></center>
					</br >
					<p>This course is a community event intended for learning, collaboration, and engagement in the developer community.</p>
					<p>We value the participation of each member of the developer community and want everyone involved to have an enjoyable and fulfilling experience. Accordingly, all instructors and students are expected to show respect and courtesy to others throughout the event.</p>
					<p>To make clear what is expected, all instructors, students, and volunteers in the course are required to conform to the following Code of Conduct. Organizers will enforce this code throughout the course.
					</p>

					<p><span class="placement-point">Be Respectful</span></br> Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and racist, sexist, or exclusionary jokes are not appropriate for this event*. </p>
					<p><span font-style="italic;">*Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</span></p>

					<p><span class="placement-point">Be Thoughtful</span><br/> In the spirit of education and inclusiveness, there may be minors participating in the course. Keep this in mind when lecturing.</p>

					<p><span class="placement-point">Be Open</span> <br/>We welcome attendees from all backgrounds. This course is about increasing the overall amount of learning, partnership, and engagement in the developer community. 
					</p>

					<p><span class="placement-point">Be Awesome</span><br />Do your best and believe in yourself.</p>

					<p>Participants violating these rules may be asked to leave the course at the sole discretion of the course organizers. <br/>
						Thank you for helping make this a welcoming, friendly event for all.
						
					
					</p>
					<center><a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a> and is adapted from the Pycon Conference Code of Conduct.</center><br/>
					<center><span class="placement-time">This Code of Conduct was updated on October 18, 2013 at 9:21am</span></center>
				</div>
				</div> <!-- end portfolio2 -->
			</div> <!-- end container -->
		</div> <!-- end work -->
		<center></center>
	</div> <!-- end container -->
</div> <!-- end work -->





		</div> <!-- end Something... -->
	</div> <!-- end container -->
</div> <!-- end contact -->
</div>
</div>
