<div id="intro2">
	<div class="title">
		<h1 class="small">Community</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>

	<div id="services">
	<div class="container">
		
	
		
	</div> <!-- end container -->
	
<div class="clear"></div>
<div id="work">
	<div class="container">	
		<div class="portfolio2" style="padding-bottom:0px;">
		<div class="sixteen columns">
			<h3><span class="line"></span>Welcome to Silicon Valley<span class="line"></span></h3>
			</br >
			<p>We have a strong, supportive, and growing community at Hackbright Academy.  We enjoy going on field trips, hosting events, and running our mentorship program. Building a great community is very important to us.</p>
			</div>
			<div class="clear"></div>
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->

<div class="container sixteen columns community-video">
	<center><iframe class="scale-with-grid" width="960" height="540" src="http://www.youtube.com/embed/NOckvLujBaY" frameborder="0" allowfullscreen></iframe></center>
</div>
</br >
</br >
</br >

<div class="jagged2"></div>	
<div class="separator">
	<div class="container">
		<div class="process-separator three columns">
			<div class="kimber-image">
				<img src="/assets/jamie.png" class="scale-with-grid img-circle"alt="" />
				<p class="proj-name-separator">Jamie G., Summer '12</p>
			</div>
		</div>
		<div class="process-separator thirteen columns">
			<div class="kimber-quote">
				<div class="separator-quote">
				<p>"My experience at Hackbright was priceless. I now describe my life as 'before Hackbright' and 'after Hackbright'..."</p>
				</div>
			</div>	
		</div>
</div>
<div class="jagged3"></div>
	


<div id="work">

	<div class="container">
	
		
		<div class="portfolio2">
			
			<div class="sixteen columns alumni-row">
				<h3><span class="line"></span> Alumni <span class="line"></span></h3>
				<p class="subheader">Join a growing group of women engineers in Silicon Valley.</p>
			</div>
			
			<div class="four columns">
					<img src="/assets/andree.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Andree B.</p>
				<p class="proj-type2">Summer 2012</p>
				
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/ashley.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Ashley L.</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/claudia.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Claudia Y.</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/jamie.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Jamie G.</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<!-- End Row -->
			
			<div class="four columns">
					<img src="/assets/lauren.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Lauren S.</p>
				<p class="proj-type2">Summer 2012</p>
				
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/laura.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Laura K.</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/michelle.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Michelle S.</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/melissal.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Melissa L.</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->

			<div>
				<p></p>
			</div> <!-- End Row -->

			<div class="four columns">
					<img src="/assets/michele.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Michele P.</p>
				<p class="proj-type2">Summer 2012</p>
				
			</div> <!-- end four columns -->

			<div class="four columns">
					<img src="/assets/wendy.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Wendy W.</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/whit.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Whitaker C.</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/zoe.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Zoe K.</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<!-- Fall 2012 -->
			
			<div class="four columns">
					<img src="/assets/anniechang.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Annie C.</p>
				<p class="proj-type2">Fall 2012</p>
				
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/eleonorem.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Eleonore M.</p>
				<p class="proj-type2">Fall 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/lisau.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Elisabeth U.</p>
				<p class="proj-type2">Fall 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/ericac.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Erica C.</p>
				<p class="proj-type2">Fall 2012</p>
			</div> <!-- end four columns -->
			
			<!-- End Row -->
			
			<div class="four columns">
					<img src="/assets/louisef.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Louise F.</p>
				<p class="proj-type2">Fall 2012</p>
				
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/lydiap.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Lydia P.</p>
				<p class="proj-type2">Fall 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/margaretm.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Margaret M.</p>
				<p class="proj-type2">Fall 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/mercedesc.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Mercedes C.</p>
				<p class="proj-type2">Fall 2012</p>
			</div> <!-- end four columns -->

			<div>
				<p></p>
			</div> <!-- End Row -->

			<div class="four columns">
					<img src="/assets/meredithp.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Meredith P.</p>
				<p class="proj-type2">Fall 2012</p>
				
			</div> <!-- end four columns -->

			<div class="four columns">
					<img src="/assets/michelleg.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Michelle G.</p>
				<p class="proj-type2">Fall 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/moonl.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Moon L.</p>
				<p class="proj-type2">Fall 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/nicolez.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Nicole Z.</p>
				<p class="proj-type2">Fall 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/sanbyl.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Sanby L.</p>
				<p class="proj-type2">Fall 2012</p>
				
			</div> <!-- end four columns -->

			<div class="four columns">
					<img src="/assets/sarag.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Sara G.</p>
				<p class="proj-type2">Fall 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/sonyae.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Sonya E.</p>
				<p class="proj-type2">Fall 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/susant.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Susan T.</p>
				<p class="proj-type2">Fall 2012</p>
			</div> <!-- end four columns -->
			
			<div class="clear"></div>
			
</div> <!-- end work -->

<div id="work">
	<div class="container">
		<div class="portfolio2">
			<div class="sixteen columns alumni-row">
				<h3><span class="line"></span> Mentorship program <span class="line"></span></h3>
				<div class="images-around"><img src="/assets/mentor1.png" class="scale-with-grid"/>
					<br /><br />
				<p>Each of our students is paired with a mentor from the industry.  Our mentors include engineers from Twitter, Google, Pinterest, Hipmunk, Twilio, and other startups.  Photo: Julia Grace, CTO and Co-founder of Wedding Lovely, meeting her mentee.</p>
				</div>	
			</div> <!-- end columns -->
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->

<div id="work">
	<div class="container">
		<div class="portfolio2">
			<div class="sixteen columns alumni-row">
				<h3><span class="line"></span> Guest Speaker Series <span class="line"></span></h3>
				<div class="images-around"><img src="/assets/guest-speakers.png" class="scale-with-grid" />
				<br /><br /><p>Each week we have a different guest speaker covering topics ranging from code to entrepreneurship. Photo: Zed Shaw, author of Learn Python The Hard Way, comes to Hackbright and gives coding and career tips.</p>	
				</div>
			</div> <!-- end columns -->
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->


<div id="work">
	<div class="container">
		<div class="portfolio2">
			<div class="sixteen columns alumni-row">
				<h3><span class="line"></span> Field Trips <span class="line"></span></h3>
				<div class="images-around"><img src="/assets/google.png" class="scale-with-grid"/>
				<br /><br /><p>We take field trips to tech companies, conferences, and other interesting events. Photo: First class field trip to Google HQ in Mountain View, CA.</p>	
				</div>
			</div> <!-- end columns -->
		</div> <!-- end portfolio2 -->
<%= link_to "<< About", about_path, :class => "btn", :style =>"float:left" %>
<%= link_to "Testimonials >>", testimonials_path, :class => "btn", :style =>"float:right" %>	
	</div> <!-- end container -->
</div> <!-- end work -->


	</div> <!-- end container -->	

</div> <!-- end about -->


	</div> <!-- end container -->
</div> <!-- end contact -->
