<div id="intro2">
	<div class="title">
		<h1 class="small">Community</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>

	<div id="services">
	<div class="container">
		
	
		
	</div> <!-- end container -->
	
<div class="clear"></div>
<div id="work">
	<div class="container">	
		<div class="portfolio2" style="padding-bottom:0px;">
		<div class="sixteen columns">
			<h3><span class="line"></span>Welcome to Silicon Valley<span class="line"></span></h3>
			</br >
			<p>We have a strong, supportive, and growing community at Hackbright Academy.  We enjoy going on field trips, hosting events, and running our mentorship program. Building a great community is very important to us.</p>
			</div>
			<div class="clear"></div>
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->

<div class="container sixteen columns community-video">
	<center><iframe width="960" height="540" src="http://www.youtube.com/embed/NOckvLujBaY" frameborder="0" allowfullscreen></iframe></center>
</div>
</br >
</br >
</br >

<div class="jagged2" id="about-hook"></div>	
<div class="separator">
	<div class="container">
		<div class="process-separator three columns">
			<div class="kimber-image">
				<img src="/assets/jamie.png" class="scale-with-grid img-circle"alt="" />
				<p class="proj-name-separator">Jamie G., Summer '12</p>
			</div>
		</div>
		<div class="process-separator thirteen columns">
			<div class="kimber-quote">
				<div class="separator-quote">
				<p>"My experience at Hackbright was priceless. I now describe my life as 'before Hackbright' and 'after Hackbright'..."<a href="#" class="btn large blue separator">Apply &rsaquo;&rsaquo;</a></p>
				</div>
			</div>	
		</div>
</div>
<div class="jagged3"></div>
	


<div id="work">

	<div class="container">
	
		
		<div class="portfolio2">
			
			<div class="sixteen columns alumni-row">
				<h3><span class="line"></span> Alumni <span class="line"></span></h3>
				<p class="subheader">Join a growing group of women engineers in Silicon Valley.</p>
			</div>
			
			<div class="four columns">
					<img src="/assets/andree.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Andree Brazzeau</p>
				<p class="proj-type2">Summer 2012</p>
				
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/ashley.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Ashley Lorden</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/claudia.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Claudia Yadathi</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/jamie.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Jamie Giedinghagen</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<!-- End Row -->
			
			<div class="four columns">
					<img src="/assets/lauren.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Lauren Still</p>
				<p class="proj-type2">Summer 2012</p>
				
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/laura.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Laura Kelly</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/michelle.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Michelle Sun</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/ml.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Melissa Lamareoux</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->

			<div>
				<p></p>
			</div> <!-- End Row -->

			<div class="four columns">
					<img src="/assets/michele.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Michele Pierini</p>
				<p class="proj-type2">Summer 2012</p>
				
			</div> <!-- end four columns -->

			<div class="four columns">
					<img src="/assets/wendy.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Wendy Wang</p>
				<p class="proj-type2">Design / Development</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/whit.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Whitaker Cohen</p>
				<p class="proj-type2">Design / Development</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/zoe.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Zoe Kay</p>
				<p class="proj-type2">Design / Development</p>
			</div> <!-- end four columns -->
			
			<div class="clear"></div>
			
		</div> <!-- end portfolio2 -->

		
	</div> <!-- end container -->
</div> <!-- end work -->

	
	



<div id="about">
	<div class="container">
	
		<div class="sixteens columns">
			<div class="headline">
				<p>I want to come with you to Alderaan. There's nothing for me here now. I want to learn the ways of the Force and be a Jedi, like my father before me.</p>
			</div> <!-- end headline -->
		</div> <!-- end sixteen columns -->
		
		<div class="clear"></div>
	
		<div class="sixteen columns">
			<h3><span class="line"></span> Who are we? <span class="line"></span></h3>
			<p class="subheader" style="text-align: center">The force is strong with this one</p>
		</div>
		
		<div class="about-us">
			<div class="eight columns">
				<p>I need your help, Luke. She needs your help. I'm getting too old for this sort of thing. You mean it controls your actions? Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Leave that to me. The last time I felt it was in the presence of my old master.</p>
			</div> <!-- eight columns -->
			<div class="eight columns">
				<p>I have traced the Rebel spies to her. Now she is my only link to finding their secret base. Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. Escape is not his plan. I must face him, alone. I'm trying not to, kid. Dantooine. They're on Dantooine.</p>
			</div>
			
			<div class="clear"></div>
			
		</div> <!-- end about-us -->
		
		
		<div class="eight columns">
			<div class="skills">
				<h5>Skills</h5>
				<div class="skill1 sk"><p>Photoshop<p></div>
				<div class="skill2 sk"><p>Illustrator</p></div>
				<div class="skill3 sk"><p>HTML5</p></div>
				<div class="skill4 sk"><p>CSS3</p></div>
				<div class="skill5 sk"><p>Javascript</p></div>
				<div class="skill6 sk"><p>Wordpress</p></div>				
			</div>
		</div> <!-- end eight columns -->
		
		<div class="eight columns">
			<div class="testimonials">
				<h5>Testimonials</h5>
				<p>“The ability to destroy a planet is insignificant next to the power of the Force.”</p>
				<p>“I'm surprised you had the courage to take the responsibility yourself.”</p>
				<p>“The ability to destroy a planet is insignificant next to the power of the Force.”</p>
				<p>“Remember, a Jedi can feel the Force flowing through him.”</p>
			</div>
		</div> <!-- end eight columns -->
		
			
	
	</div> <!-- end container -->	

</div> <!-- end about -->


	</div> <!-- end container -->
</div> <!-- end contact -->
