<div id="intro2">
	<div class="title">
		<h1 class="small">Community</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>

	<div id="services">
	<div class="container">
		
	
		
	</div> <!-- end container -->
	
	<div class="clear"></div>

<div id="work">

	<div class="container">
	
		
		<div class="portfolio2">
			
			<div class="sixteen columns alumni-row">
				<h3><span class="line"></span> Alumni <span class="line"></span></h3>
				<p class="subheader">Join a growing group of women engineers in Silicon Valley.</p>
			</div>
			
			<div class="four columns">
					<img src="/assets/andree.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Andree Brazzeau</p>
				<p class="proj-type2">Summer 2012</p>
				
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/ashley.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Ashley Lorden</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/claudia.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Claudia Yadathi</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/jamie.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Jamie Giedinghagen</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<!-- End Row -->
			
			<div class="four columns">
					<img src="/assets/lauren.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Lauren Still</p>
				<p class="proj-type2">Summer 2012</p>
				
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/laura.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Laura Kelly</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/michelle.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Michelle Sun</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/ml.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Melissa Lamareoux</p>
				<p class="proj-type2">Summer 2012</p>
			</div> <!-- end four columns -->

			<div>
				<p></p>
			</div> <!-- End Row -->

			<div class="four columns">
					<img src="/assets/michele.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Michele Pierini</p>
				<p class="proj-type2">Summer 2012</p>
				
			</div> <!-- end four columns -->

			<div class="four columns">
					<img src="/assets/wendy.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Wendy Wang</p>
				<p class="proj-type2">Design / Development</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/whit.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Whitaker Cohen</p>
				<p class="proj-type2">Design / Development</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/zoe.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Zoe Kay</p>
				<p class="proj-type2">Design / Development</p>
			</div> <!-- end four columns -->
			
			<div class="clear"></div>
			
		</div> <!-- end portfolio2 -->

		
	</div> <!-- end container -->
</div> <!-- end work -->

	
	
<div class="jagged2" id="about-hook"></div>	
<div class="separator">

	<p>“My experience at Hackbright was priceless...”</p>
	<div class="quote-image">
		<img src="/assets/jamie.png" class="img-circle" width="70" height="70" alt="" />
	</div>
</div>
<div class="jagged3"></div>



<div id="about">
	<div class="container">
	
		<div class="sixteens columns">
			<div class="headline">
				<p>I want to come with you to Alderaan. There's nothing for me here now. I want to learn the ways of the Force and be a Jedi, like my father before me.</p>
			</div> <!-- end headline -->
		</div> <!-- end sixteen columns -->
		
		<div class="clear"></div>
	
		<div class="sixteen columns">
			<h3><span class="line"></span> Who are we? <span class="line"></span></h3>
			<p class="subheader" style="text-align: center">The force is strong with this one</p>
		</div>
		
		<div class="about-us">
			<div class="eight columns">
				<p>I need your help, Luke. She needs your help. I'm getting too old for this sort of thing. You mean it controls your actions? Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Leave that to me. The last time I felt it was in the presence of my old master.</p>
			</div> <!-- eight columns -->
			<div class="eight columns">
				<p>I have traced the Rebel spies to her. Now she is my only link to finding their secret base. Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. Escape is not his plan. I must face him, alone. I'm trying not to, kid. Dantooine. They're on Dantooine.</p>
			</div>
			
			<div class="clear"></div>
			
		</div> <!-- end about-us -->
		
		
		<div class="eight columns">
			<div class="skills">
				<h5>Skills</h5>
				<div class="skill1 sk"><p>Photoshop<p></div>
				<div class="skill2 sk"><p>Illustrator</p></div>
				<div class="skill3 sk"><p>HTML5</p></div>
				<div class="skill4 sk"><p>CSS3</p></div>
				<div class="skill5 sk"><p>Javascript</p></div>
				<div class="skill6 sk"><p>Wordpress</p></div>				
			</div>
		</div> <!-- end eight columns -->
		
		<div class="eight columns">
			<div class="testimonials">
				<h5>Testimonials</h5>
				<p>“The ability to destroy a planet is insignificant next to the power of the Force.”</p>
				<p>“I'm surprised you had the courage to take the responsibility yourself.”</p>
				<p>“The ability to destroy a planet is insignificant next to the power of the Force.”</p>
				<p>“Remember, a Jedi can feel the Force flowing through him.”</p>
			</div>
		</div> <!-- end eight columns -->
		
		<div class="sixteen columns">
			<h3><span class="line"></span> The Team <span class="line"></span></h3>
			<p class="subheader" style="text-align: center">We are always looking for awesome talent.</p>
		</div>
		<div class="clear"></div>
		<div class="team">
			
			<!-- Christian -->
			<div class="six columns">
				<img src="/assets/team1.jpg" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Christian Fernandez</p>
				<p class="t-position">Co-founder/Instructor</p>
				<ul>
					<li><a href="#"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Christian</h5>
					<p>Christian grew up on the tropical island of American Samoa, learning to hunt eels in the coral reefs. He applied those skills later to write assembly code to blit bitmaps in mode 13h (doing graphics with assembly is a lot like eel-wrangling). These days, he's hung up his eel gloves in favor of building network applications and teaching programming. He's been a senior software developer at Kivera (acquired by TCS), Ask, and Fuzebox.</br ></br >He's also a founding member and resident python instructor at Ace Monster Toys, an educational hackerspace in Oakland, and was an instructor for the inaugural class of Dev Bootcamp. Christian holds a B.S. in Computer Science and Electrical Engineering from the University of California, Berkeley.</p>
				</div>
				</div>
			<!-- END Christian -->
			
			<!-- David -->
			<div class="six columns">
				<img src="/assets/team1.jpg" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">David J. Phillips</p>
				<p class="t-position">Co-founder</p>
				<ul>
					<li><a href="#"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>David</h5>
					<p>David enjoys startups, programming, making music, and living in San Francisco. He also has a passion for good design. Since starting his career at Deloitte, he has been lucky enough to start companies like Banjo and build products that reach over a million users across the world.</br ></br >After catching the startup bug, David decided to learn how to program.  He loves learning and building web applications using modern technologies like Ruby, Python, and Javascript. He holds a B.A. in Business Economics from the University of California, Santa Barbara.</p>
				</div>
				</div>
			<!-- END David -->

			<!-- Charles -->
			<div class="six columns">
				<img src="/assets/team1.jpg" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Charles Ruhland</p>
				<p class="t-position">Instructor</p>
				<ul>
					<li><a href="#"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Charles</h5>
					<p>Charles has always enjoyed learning and passing on knowledge to others. Before joining Hackbright Academy, he gained big data	experience as a senior software engineer at Klout. Prior to that he developed internal tools at Salesforce.com.</br ></br >Charles holds a B.S. in Computer Science from Carnegie Mellon University. When he's not experimenting with functional programming, he can usually be found running, hiking, or reading.</p>
				</div>
				</div>
			<!-- END Charles -->
			

			<div class="clear"></div>
			
		</div> <!-- end team -->
		
		<!-- ADVISORS -->
		<div class="sixteen columns">
			<h3><span class="line"></span> Advisors <span class="line"></span></h3>
			</br >
		</div>
		<div class="clear"></div>
		<div class="team">
			
			<!-- Christian -->
			<div class="six columns">
				<img src="/assets/team1.jpg" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Janine Yoong</p>
				<p class="t-position">Advisor</p>
				<p class="t-position">VP Business Development @ Tokbox</p>
				<ul>
					<li><a href="#"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Janine</h5>
					<p>Janine gets front row seats to watch amazing apps come to life as she works with TokBox partners. Before joining Tokbox in April 2010, Janine worked at Google driving advertising partnerships in the local space. During her three years at Google, she worked with Yellow Pages companies, newspaper publishers, auto ad agencies and geo-local startups to put together advertising solutions for small businesses. Prior to Google, Janine worked at Yahoo! in Operations Finance supporting the HotJobs business unit. In addition to planning and strategic review, she acted as lead analyst for the first phase of the Yahoo Newspaper Consortium, Yahoo's partnerships with over 200 newspapers on its local ad management platform. Janine was an Investment Banking Analyst at Lehman Brothers in the Financial Institutions Group from 2003 - 2005. </br ></br >Janine holds a B.A. in International Affairs and Public Policy from Princeton University.</p>
				</div>
				</div>
			<!-- END Janine -->
			
			<!-- Alex -->
			<div class="six columns">
				<img src="/assets/team1.jpg" class="scale-with-grid img-circle" alt="" />
				<p class="t-name">Alex Cavoulacos</p>
				<p class="t-position">Advisor</p>
				<p class="t-position">Founder and COO @ The Daily Muse</p>				<ul>
					<li><a href="#"><img src="/assets/icn-twitter.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
				</ul>
			</div> <!-- end six columns -->
			<div class="eight columns">
				<div class="testimonials">
					<h5>Alex</h5>
					<p>Alex makes things work at The Daily Muse. From operations to product, she’s our #1 list maker. Prior to founding The Daily Muse, Alex was a management consultant, solving critical strategic and operational questions for top firms worldwide. She graduated from Yale University, where she was the Executive Director of Global21 – a network of international affairs magazines at premier universities around the world. It was there that she first gained experience in publishing, managing a team of 300 on 6 continents, and reaching over a quarter of a million readers with print magazines. </br ></br >Follow her on Twitter @acavoulacos</p>
				</div>
				</div>
			<!-- END Alex -->

			<div class="clear"></div>
			
		</div> <!-- end ADVISORS -->
		
		<div class="sixteen columns">
			<div class="action">
				<p>Let's work together!</p>
				<button>CONTACT US NOW</button>
				<img src="/assets/arrow.png" alt="" />
			</div>
		</div> <!-- end sixteen columns -->
		
	
	</div> <!-- end container -->	

</div> <!-- end about -->



<div class="jagged2" id="contact-hook"></div>
<div class="separator">
	<p>“What good is a reward if you ain't around to use it?”</p>
</div>
<div class="jagged3"></div>



<div id="contact">
	<div class="container">
	
		<div class="sixteens columns">
			<div class="headline">
				<img src="/assets/icn-contact.png" alt="" />
				<h2>Contact</h2>
				<p>I want to come with you to Alderaan. There's nothing for me here now. I want to learn the ways of the Force and be a Jedi, like my father before me.</p>
			</div> <!-- end headline -->
		</div> <!-- end sixteen columns -->
		
		<div class="clear"></div>
		
		<div class="sixteen columns">
			<iframe class="map" width="932" height="292" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;t=m&amp;ll=40.760001,-73.975968&amp;spn=0.009492,0.039954&amp;z=15&amp;output=embed"></iframe>
		</div> <!-- end sixteen columns -->
		
		<div class="ten columns">
			<div class="contact-form">
				
				<div class="done">
					<b>Thank you!</b> We have received your message. 
				</div>
			
				<form method="post" action="process.php">
					<p>name</p>
					<input type="text" name="name" class="text" />
					
					<p>email</p>
					<input type="text" name="email" class="text" id="email" />

					<p>message</p>
					<textarea name="comment" class="text"></textarea>

					<input type="submit" id="submit" value="send" class="submit-button" />
				</form>
					
			</div> <!-- end contact-form -->
		</div> <!-- end ten columns -->
		
		<div class="six columns">
		
			<div class="contact-info">
				<h5>Contact Info</h5>
				<p><img src="/assets/icn-email.png" alt="" /> youremail@here.com</p>
				<p><img src="/assets/icn-phone.png" alt="" /> +123 456 789</p>
				<p><img src="/assets/icn-address.png" alt="" /> 767 Fifth Ave.<br />
					New York, NY 10153</p>
			</div> <!-- end contact-info -->
			
			<div class="social-bottom">
				<ul>
					<li><a href="#"><img src="/assets/icn-skype2.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-facebook2.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-linkedin.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-gplus.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-pinterest.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-dribbble.png" alt="" /></a></li>
					<li><a href="#"><img src="/assets/icn-twitter2.png" alt="" /></a></li>
				</ul>
			</div>
			
		</div> <!-- end six columns -->

	</div> <!-- end container -->
</div> <!-- end contact -->
