<div id="intro2">
	<div class="title">
		<h1 class="small">Courses</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>
	<div id="services">
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>

	<div id="work">
		<div class="container">	
			<div class="portfolio2">
			<div class="sixteen columns">
				<h3><span class="line"></span>Quarterly<span class="line"></span></h3>
				</br >
				<p>Hackbright Academy offers full-time, quarterly programs in San Francisco, CA.</p>
					</div> <!-- end portfolio2 -->
				</div> <!-- end container -->
			</div> <!-- end work -->
				
				<div class="container">
					<div class="course-panel back-end">
				              <div class="price-box">
				                <div class="full-left with-line">
				                  <h7>Software Engineering Fellowship</h7>
													
				                  <p class="clean-paragraph gray">Gain a solid foundation for programming in Python and learn test-driven development. Get an introduction to server-side programming with Flask. Build, test, and deploy complex-web apps with reliable, maintainable code. Complete a final capstone project, such as an e-commerce site or CRM, and learn to effectively use different APIs.</p>
				                  <ul class="thinkful-advantage-list left-list">
				                    <li class="success">Discover what it takes to become a full-stack developer</li>
				                    <li class="success">Apply the principles of test driven web development using Flask</li>
				                  </ul>
				                  <ul class="thinkful-advantage-list right-list">
				                    <li class="success">Learn programming and scripting fundamentals in Python and MYSQL</li>
				                    <li class="success">Deploy three web apps on Heroku, such as an e-commerce site or a CRM</li>
				                  </ul>
				                </div>
				                <div class="small-right">
				                  <h4 class="headline-price price">10</h4>
													<p class="price-sub-label clean-paragraph gray">weeks</p>
				                  <div class="full-width-gray-line"></div>
				                  <div class="duration-div">
				                    <p class="duration gray">Tuition</p>
				                    <p class="duration-length">$14,500</p>
				                  </div>
				                  <div class="full-width-gray-line"></div>
				                  <p class="clean-paragraph topics gray">Python, Flask, Unit Testing with Nose, Test-Driven Development, Object Oriented Programming, SQL, Heroku</p>
													<div class="full-width-gray-line"></div>
				                  <a href="#" class="btn-flat btn-blue">Learn More</a>
				                </div>
				                <div class="clearfix"></div>
				              </div>
				            </div>
				</div>
				
				
				

	<div id="work">
		<div class="container">	
			<div class="portfolio2">
			<div class="sixteen columns">
				<h3><span class="line"></span>Weekly<span class="line"></span></h3>
				</br >
				<p><p>Hackbright Academy offers part-time/full-time, weekly programs in San Francisco, CA.</p>
				</p>
			</div> <!-- end portfolio2 -->
		</div> <!-- end container -->
	</div> <!-- end work -->

	<div class="container">
		<div class="course-panel back-end">
	              <div class="price-box">
	                <div class="full-left with-line">
	                  <h7>Intro to Data Science</h7>
										
	                  <p class="clean-paragraph gray">Gain a solid foundation for programming in Python and learn test-driven development. Get an introduction to server-side programming with Flask. Build, test, and deploy complex-web apps with reliable, maintainable code. Complete a final capstone project, such as an e-commerce site or CRM, and learn to effectively use different APIs.</p>
	                  <ul class="thinkful-advantage-list left-list">
	                    <li class="success">Discover what it takes to become a full-stack developer</li>
	                    <li class="success">Apply the principles of test driven web development using Flask</li>
	                  </ul>
	                  <ul class="thinkful-advantage-list right-list">
	                    <li class="success">Learn programming and scripting fundamentals in Python and MYSQL</li>
	                    
	                  </ul>
	                </div>
	                <div class="small-right">
	                  <h4 class="headline-price price">3</h4>
										<p class="price-sub-label clean-paragraph gray">Days</p>
	                  <div class="full-width-gray-line"></div>
	                  <div class="duration-div">
	                    <p class="duration gray">Tuition</p>
	                    <p class="duration-length">$1,500</p>
	                  </div>
	                  <div class="full-width-gray-line"></div>
	                  <p class="clean-paragraph topics gray">Python, Flask, Unit Testing with Nose, Test-Driven Development, Object Oriented Programming, SQL, Heroku</p>
										<div class="full-width-gray-line"></div>
	                  <a href="#" class="btn-flat btn-blue">Learn More</a>
	                </div>
	                <div class="clearfix"></div>
	              </div>
	            </div>
	
								<div class="course-panel back-end">
							              <div class="price-box">
							                <div class="full-left with-line">
							                  <h7>Intro to iOS Programming</h7>

							                  <p class="clean-paragraph gray">Gain a solid foundation for programming in Python and learn test-driven development. Get an introduction to server-side programming with Flask. Build, test, and deploy complex-web apps with reliable, maintainable code. Complete a final capstone project, such as an e-commerce site or CRM, and learn to effectively use different APIs.</p>
							                  <ul class="thinkful-advantage-list left-list">
							                    <li class="success">Discover what it takes to become a full-stack developer</li>
							                    <li class="success">Apply the principles of test driven web development using Flask</li>
							                  </ul>
							                  <ul class="thinkful-advantage-list right-list">
							                    <li class="success">Learn programming and scripting fundamentals in Python and MYSQL</li>
							                    
							                  </ul>
							                </div>
							                <div class="small-right">
							                  <h4 class="headline-price price">3</h4>
																<p class="price-sub-label clean-paragraph gray">days</p>
							                  <div class="full-width-gray-line"></div>
							                  <div class="duration-div">
							                    <p class="duration gray">Tuition</p>
							                    <p class="duration-length">$1,500</p>
							                  </div>
							                  <div class="full-width-gray-line"></div>
							                  <p class="clean-paragraph topics gray">Python, Flask, Unit Testing with Nose, Test-Driven Development, Object Oriented Programming, SQL, Heroku</p>
																<div class="full-width-gray-line"></div>
							                  <a href="#" class="btn-flat btn-blue">Learn More</a>
							                </div>
							                <div class="clearfix"></div>
							              </div>
							            </div>
	
	</div>
	
	



		</div> <!-- end Something... -->
	</div> <!-- end container -->
</div> <!-- end contact -->
</div>
</div>
