<div id="intro2">
	<div class="title">
		<h1 class="small">Dates</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>
	<div id="services">
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>

<div id="work">
	<div class="main-content container">	
		<div id="work">
			<div class="container">	
				<div class="portfolio2">
				<div class="sixteen columns">
					<h3><span class="line"></span> Hackbright Academy Dates<span class="line"></span></h3>
					</br >
				</div>
				</div> <!-- end portfolio2 -->
			</div> <!-- end container -->
		</div> <!-- end work -->
		<center><p style="font-weight:bold">Dates for Spring 2013</p>
		<p>Early Application Deadline: 11/30/12</p>
		<p>Early Decision:	12/20/12
		<p>Application Deadline:	1/15/13
		<p>Final Decision:	2/1/13
		<p>Start Date: 3/1/13</p></center>
	</div> <!-- end container -->
</div> <!-- end work -->





		</div> <!-- end Something... -->
	</div> <!-- end container -->
</div> <!-- end contact -->
</div>
</div>

