<div id="intro2">
	<div class="title">
		<h1 class="small">Employers</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>

	<div id="services">
	<div class="container">
		
	
		
	</div> <!-- end container -->
	
<div class="clear"></div>
<div id="work">
	<div class="container">	
		<div class="portfolio2" style="padding-bottom:0px;">
		<div class="sixteen columns">
			<h3><span class="line"></span>Career Day<span class="line"></span></h3>
			</br >
			<p>Hackbright's Career day is a quarterly event where Partner Companies are invited to meet our graduates.</p><%= link_to "Become a Partner!", partner_path, :class => "btn-flat btn-blue" %>
			<%= link_to "RSVP for Career Day: 8/20/13", partner_path, :class => "btn-flat btn-red", :style => "text-decoration: none; " %>
			</div>
			<div class="clear"></div>
			
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->

<div class="container sixteen columns community-video">
	<center><iframe class="scale-with-grid" width="960" height="540" src="http://www.youtube.com/embed/P6WO4yjMw9s" frameborder="0" allowfullscreen></iframe></center>
</div>
</br >
</br >
</br >

<div class="jagged2"></div>	
<div class="separator">
	<div class="container">
		<div class="process-separator three columns">
			<div class="kimber-image">
				<img src="/assets/selina.png" class="scale-with-grid img-circle"alt="" />
				<p class="proj-name-separator">Selina Tobaccowala</p>
				<p><img src="/assets/surveymonkey.png" /></p>	
			</div>
		</div>
		<div class="process-separator thirteen columns">
			<div class="kimber-quote">
				<div class="separator-quote">
				<p>"Hackbright Academy attracts smart, driven women and provides them with a
						fantastic environment where they can quickly but effectively learn
						software development and ultimately become skilled coders."</p>
				</div>
			</div>	
		</div>
</div>
<div class="jagged3"></div>
	
<div id="work">
	<div class="container">
		<div class="portfolio4">
			<div class="sixteen columns alumni-row">
				<h3><span class="line"></span> Select Partner Companies <span class="line"></span></h3>
				<p class="subheader"></p>
			</div>
			
			<div class="threehalf columns">
					<img src="/assets/facebook.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Facebook</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/stubhub.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">StubHub</p>
				
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/eventbrite.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Eventbrite</p>

			</div> <!-- end threehalf columns -->
			
			
				<div class="threehalf columns">
						<img src="/assets/Academiaedu.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">Academia.edu</p>

				</div> <!-- end threehalf columns -->
				<div class="threehalf columns">
						<img src="/assets/sm.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">SurveyMonkey</p>
				</div> <!-- end threehalf columns -->
			
			
			<div class="threehalf columns">
					<img src="/assets/bills.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Bills.com</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/twitter.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Twitter</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/bitcasa.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Bitcasa</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/pinterest.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Pinterest</p>

			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/coursehero.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">CourseHero</p>
			</div> <!-- end threehalf columns -->
			
			<!-- End Row -->
			
			<div class="threehalf columns">
					<img src="/assets/change.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Change.org</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/kabam.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Kabam</p>
			</div> <!-- end threehalf columns -->

			<div class="threehalf columns">
					<img src="/assets/newrelic.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">New Relic</p>
			</div> <!-- end threehalf columns -->

			<div>
				<p></p>
			</div> <!-- End Row -->
			
			<div class="threehalf columns">
					<img src="/assets/yammer.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Yammer</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/gs.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Get Satisfaction</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/square.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">square</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/rg.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Real Gravity</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/Perforce.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Perforce</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/disqus.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Disqus</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/richrelevance.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">RichRelevance</p>
			</div> <!-- end threehalf columns -->
						
			<div class="threehalf columns">
					<img src="/assets/palintir.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Palantir</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/versal.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Versal</p>
			</div> <!-- end threehalf columns -->
			
			<div>
				<p></p>
			</div> <!-- End Row -->	
			
			<div class="threehalf columns">
					<img src="/assets/invitae.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Invitae</p>
				
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
						<img src="/assets/avos.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">Avos</p>

				</div> <!-- end threehalf columns -->			
			
						
			<!-- End Row -->
												
			<div>
				<p></p>
			</div> <!-- End Row -->
			
									
			<div class="threehalf columns">
					<img src="/assets/daily-muse.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">The Daily Muse</p>
				
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/sandbox.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Sandbox Industries</p>
			</div> <!-- end threehalf columns -->

		

			<div class="threehalf columns">
					<img src="/assets/rackspace.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Rackspace</p>
			</div> <!-- end threehalf columns -->
						
			<div>
				<p></p>
			</div> <!-- End Row -->	

				<div class="threehalf columns">
						<img src="/assets/lookout.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">Lookout Mobile Security</p>
				</div> <!-- end threehalf columns -->
			

				<div class="threehalf columns">
						<img src="/assets/kixeye.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">Kixeye</p>
				</div> <!-- end threehalf columns -->



				<div>
					<p></p>
				</div> <!-- End Row -->
						
			<div class="threehalf columns">
					<img src="/assets/fs.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Fivestars</p>
			</div> <!-- end threehalf columns -->
			
						
			<div class="clear"></div>
			
</div> <!-- end work -->

<center>
<div class="sixteen columns">
		<h3></span><%= link_to "Become a Partner!", partner_path, :class => "btn-flat btn-blue" %><%= link_to "RSVP for Career Day: 8/20/13", partner_path, :class => "btn-flat btn-red", :style => "text-decoration: none; " %></h3>
	
	<p></p>
</div>
</center>


	</div> <!-- end container -->	

</div> <!-- end about -->


	</div> <!-- end container -->
</div> <!-- end contact -->
