<div id="intro2">
	<div class="title">
		<h1 class="small">Get Involved</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>
	<div id="services">
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>
<div id="work">
	<div class="container">	
				<!-- Selina -->
				<div class="process2 three columns">
					<div class="kimber-image">
						<img src="/assets/selina.png" class="scale-with-grid img-circle"alt="" />
						<p class="proj-name4">Selina Tobaccowala</p>
						<p class="selina">SVP of Product & Engineering</p>
						<img src="/assets/surveymonkey.png" />
					</div>
				</div>
				<div class="process2 thirteen columns">
					<div class="kimber-quote">
						<div class="right-quote">
						<p>"Hackbright Academy attracts smart, driven women and provides them with a
							fantastic environment where they can quickly but effectively learn
							software development and ultimately become skilled coders."</p>
					</div>
					</div>
				</div>
				<!-- End Selina -->	
	</div> <!-- end container -->
</div> <!-- end work -->

<div id="work">
	<div class="container">	
		<div class="portfolio2">
		<div class="sixteen columns">
			<h3><span class="line"></span> You're in good company <span class="line"></span></h3>
			</br >
			<p>There are many ways to get involved in Hackbright Academy.  We love working with awesome companies, big and small. If you are interested in meeting our graduates, please sign up for the opportunity to recruit from Hackbright Academy and get invited to exclusive events like Career Day. We also have companies and guest speakers come in once a week. Sponsorships range from event sponsorship to scholarship sponsorship.  Our current class is at capacity for mentors, but there are some openings for future classes. If you or your company are interested, please let us know: <a href="mailto:&#100;&#064;&#104;&#097;&#099;&#107;&#098;&#114;&#105;&#103;&#104;&#116;&#097;&#099;&#097;&#100;&#101;&#109;&#121;&#046;&#099;&#111;&#109;" target="_blank">d@hackbrightacademy.com </a>! </p>
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->

<div id="work">
	<div class="container">	
		<div class="portfolio2">
		
		<div class="four columns">
			<h3><span class="line"></span> Mentorship <span class="line"></span></h3>
			</br >
			<p><%= link_to "Become a Mentor", mentor_path, :class => "btn" %></p>
		</div>
		
		<div class="four columns">
			<h3><span class="line"></span> Guest Speaking <span class="line"></span></h3>
			</br >
			<p><%= link_to "Become a Speaker", speaker_path, :class => "btn" %></p>
		</div>
		
		<div class="four columns">
			<h3><span class="line"></span> Recruitment <span class="line"></span></h3>
			</br >
			<p><%= link_to "Become an Employer", talent_path, :class => "btn" %></p>
		</div>
		
		<div class="four columns">
			<h3><span class="line"></span> Sponsorship <span class="line"></span></h3>
			</br >
			<p><%= link_to "Become a Sponsor", sponsor_path, :class => "btn" %></p>
		</div>
		
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->


		</div> <!-- end Something... -->
	</div> <!-- end container -->
</div> <!-- end contact -->
</div>
</div>
