<div id="intro2">
	<div class="title">
		<h1 class="small">Select Partners</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>

	<div id="services">
	<div class="container">
		
	
		
	</div> <!-- end container -->
<div id="work">
	<div class="container">
		<div class="portfolio4">
			<div class="sixteen columns alumni-row">
				<h3><span class="line"></span> Who's Hiring from Hackbright? <span class="line"></span></h3>
				<p class="subheader"></p>
			</div>
			
			<div class="threehalf columns">
					<img src="/assets/facebook.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Facebook</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/stubhub.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">StubHub</p>
				
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/eventbrite.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Eventbrite</p>

			</div> <!-- end threehalf columns -->
			
			
				<div class="threehalf columns">
						<img src="/assets/Academiaedu.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">Academia.edu</p>

				</div> <!-- end threehalf columns -->
				<div class="threehalf columns">
						<img src="/assets/sm.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">SurveyMonkey</p>
				</div> <!-- end threehalf columns -->
			
			
			<div class="threehalf columns">
					<img src="/assets/bills.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Bills.com</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/twitter.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Twitter</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/bitcasa.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Bitcasa</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/pinterest.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Pinterest</p>

			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/coursehero.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">CourseHero</p>
			</div> <!-- end threehalf columns -->
			
			<!-- End Row -->
			
			<div class="threehalf columns">
					<img src="/assets/change.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Change.org</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/kabam.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Kabam</p>
			</div> <!-- end threehalf columns -->

			<div class="threehalf columns">
					<img src="/assets/newrelic.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">New Relic</p>
			</div> <!-- end threehalf columns -->

			<div>
				<p></p>
			</div> <!-- End Row -->
			
			<div class="threehalf columns">
					<img src="/assets/yammer.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Yammer</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/gs.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Get Satisfaction</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/square.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">square</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/rg.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Real Gravity</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/Perforce.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Perforce</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/disqus.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Disqus</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/richrelevance.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">RichRelevance</p>
			</div> <!-- end threehalf columns -->
						
			<div class="threehalf columns">
					<img src="/assets/palintir.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Palantir</p>
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/versal.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Versal</p>
			</div> <!-- end threehalf columns -->
			
			<div>
				<p></p>
			</div> <!-- End Row -->	
			
			<div class="threehalf columns">
					<img src="/assets/invitae.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Invitae</p>
				
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
						<img src="/assets/avos.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">Avos</p>

				</div> <!-- end threehalf columns -->			
			
						
			<!-- End Row -->
												
			<div>
				<p></p>
			</div> <!-- End Row -->
			
									
			<div class="threehalf columns">
					<img src="/assets/daily-muse.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">The Daily Muse</p>
				
			</div> <!-- end threehalf columns -->
			
			<div class="threehalf columns">
					<img src="/assets/lookout.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Lookout Mobile Security</p>
			</div> <!-- end threehalf columns -->

			<div class="threehalf columns">
					<img src="/assets/rackspace.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Rackspace</p>
			</div> <!-- end threehalf columns -->
						
			<div>
				<p></p>
			</div> <!-- End Row -->	

			<div class="threehalf columns">
					<img src="/assets/sandbox.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Sandbox Industries</p>
			</div> <!-- end threehalf columns -->



				<div class="threehalf columns">
						<img src="/assets/kixeye.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">Kixeye</p>
				</div> <!-- end threehalf columns -->



				<div>
					<p></p>
				</div> <!-- End Row -->
						
			<div class="threehalf columns">
					<img src="/assets/fs.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Fivestars</p>
			</div> <!-- end threehalf columns -->
			
						
			<div class="clear"></div>
			
</div> <!-- end work -->
<center>
<div class="sixteen columns">
		<h3><span class="line"></span><%= link_to "Become a Partner!", partner_path, :class => "btn large" %><span class="line"></span></h3>
	<p></p>
</div>
</center>

	</div> <!-- end container -->	

</div> <!-- end about -->


	</div> <!-- end container -->
</div> <!-- end contact -->
