<div id="intro2">
	<div class="title">
		<h1 class="small">Select Partners</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>

	<div id="services">
	<div class="container">
		
	
		
	</div> <!-- end container -->
<div id="work">
	<div class="container">
		<div class="portfolio2">
			<div class="sixteen columns alumni-row">
				<h3><span class="line"></span> Who's Hiring from Hackbright? <span class="line"></span></h3>
				<p class="subheader"></p>
			</div>
			
			<div class="four columns">
					<img src="/assets/pinterest.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Pinterest</p>
				
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/disqus.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Disqus</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/sm.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">SurveyMonkey</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/twilio.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Twilio</p>
			</div> <!-- end four columns -->
			
			<!-- End Row -->
			
			<div class="four columns">
					<img src="/assets/pair.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Pair</p>
				
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/twitch.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Twitch.tv</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/gs.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Get Satisfaction</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/rg.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Real Gravity</p>
			</div> <!-- end four columns -->

			<div>
				<p></p>
			</div> <!-- End Row -->
			
			<div class="four columns">
					<img src="/assets/invitae.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Invitae</p>
				
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/ml.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">MovieLaLa</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/palintir.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Palantir</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/newrelic.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">New Relic</p>
			</div> <!-- end four columns -->
			<div class="four columns">
					<img src="/assets/yahoo.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Yahoo!</p>
				
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/rackspace.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Rackspace</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/dogbff.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">DogBFF</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/balanced.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Balanced Payments</p>
			</div> <!-- end four columns -->

			<div>
				<p></p>
			</div> <!-- End Row -->	
			
			<div class="four columns">
						<img src="/assets/avos.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">Avos</p>

				</div> <!-- end four columns -->

				<div class="four columns">
						<img src="/assets/kixeye.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">Kixeye</p>
				</div> <!-- end four columns -->

				<div class="four columns">
						<img src="/assets/luma.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">Luma Edu</p>
				</div> <!-- end four columns -->

				<div class="four columns">
						<img src="/assets/sandbox.png" class="scale-with-grid img-circle" alt="" />
					<p class="proj-name2">Sandbox Industries</p>
				</div> <!-- end four columns -->

				<div>
					<p></p>
				</div> <!-- End Row -->
			<div class="four columns">
					<img src="/assets/eventbrite.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Eventbrite</p>
				
			</div> <!-- end four columns -->

			<div class="four columns">
					<img src="/assets/fs.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Fivestars</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/lookout.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Lookout Mobile Security</p>
			</div> <!-- end four columns -->
			
			<div class="four columns">
					<img src="/assets/crocodoc.png" class="scale-with-grid img-circle" alt="" />
				<p class="proj-name2">Crocodoc</p>
			</div> <!-- end four columns -->
			
			<div class="clear"></div>
			
</div> <!-- end work -->
<center>
<div class="sixteen columns">
		<h3><span class="line"></span><%= link_to "Become a Partner!", talent_path, :class => "btn large" %><span class="line"></span></h3>
	<p></p>
</div>
</center>

	</div> <!-- end container -->	

</div> <!-- end about -->


	</div> <!-- end container -->
</div> <!-- end contact -->
