<div id="intro">
	<div class="title">
	
	</div> <!-- end title -->
	
</div> <!-- end intro -->

<div class="title-helper scale-with-grid">
	<div class="container">
	<h1>Programming Fellowship for Women </h1>
		<p>10-weeks. Become a developer. Exclusively for women.</p><a href="#services" style="margin-top:-135px; margin-left:775px" class="btn xlarge blue">Learn More</a>
	</div>
</div>


	<div class="logo-bar scale-with-grid">
  <div class="inner1">
	<div class="container">
    <ul>
        <li><em class="logo-bar-logos-sony"></em></li>
        <li><em class="logo-bar-logos-virgin"></em></li>
        <li><em class="logo-bar-logos-ogilvy"></em></li>
        <li><em class="logo-bar-logos-verizon_wireless"></em></li>
        <li><em class="logo-bar-logos-universal"></em></li>
    </ul>
		</div>
  </div>
</div>

<div id="services">
	<div class="container">
		
	
		<div class="process sixteen columns">
			<center><h3><span class="line"></span>A Game-Changer for your career<span class="line"></span></h3></center>
		</div> <!-- end sixteen columns -->
		
		<div class="portfolio">
			
			<div class="one-third column">
					<p><span style="font-size:32px">Community</span></p>
					<a href="http://www.hackbrightacademy.com/about">
					<div class="photo-stack">
						<ul class="opportunity-pic">
							<li class="community-pic"></li>
						</ul>​
					</div></a> <!-- end photo-stack column -->
					Join a growing alumni network of women engineers in Silicon Valley.  Get plugged-in to the Silicon Valley eco-system.  <%= link_to "Learn More >>", about_path %>
					</br ></br >
			</div> <!-- end one-third column -->
			
			<div class="one-third column">
				<p><span style="font-size:32px">Mentorship</span></p>
				<a href="http://www.hackbrightacademy.com/about">
				<div class="photo-stack">
					<ul class="community-pic">
						<li class="czf-teach"></li>
					</ul>​
				</div></a> <!-- end photo-stack column -->
				Our team is comprised of passionate industry experts and some of the top instructors in the world.  <%= link_to "Learn More >>", about_path %></br ></br >
			</div> <!-- end one-third column -->
			
				<div class="one-third column">
					<p><span style="font-size:32px">Opportunities</span></p>
					<a href="http://www.hackbrightacademy.com/about">
					<div class="photo-stack">
						<ul class="czf-teach">	
					    <li class="opportunity-pic"></li>
						</ul>​
					</div></a> <!-- end photo-stack column -->
					We provide training and job placement resources for all of our students.  The majority of our graduates go on to work as software engineers. <%= link_to "Learn More >>", about_path %>
				</div> <!-- end one-third column -->
		

				</div> <!-- end container -->
			</div> <!-- end contact -->		
		</div> <!-- end six columns -->
		
		<div id="work">
			<div class="container">	
				<div class="portfolio2">
				<div class="sixteen columns">
					<h3><span class="line"></span>Facebook "Moms in Tech" Sponsorship<span class="line"></span></h3>
					</br >
					<p>Facebook is teaming up with Hackbright to provide sponsorship for Moms in Tech who qualify for the Hackbright Academy Programming Fellowship.  For Summer 2013 details, click below.</br></br><a href="http://www.hackbrightacademy.com/moms_in_tech" class="btn xlarge blue">Moms in Tech Sponsorship</a></p>
				</div> <!-- end portfolio2 -->
			</div> <!-- end container -->
		</div> <!-- end work -->
		
		
		
		<div id="work">

			<div class="container">

				<div class="portfolio2">
					<a href="http://www.hackbrightacademy.com/get_involved">
					<div class="sixteen columns sponsor-row">
						<h4><span class="line"></span> Thank you to our sponsors <span class="line"></span></h3>
					</div>
					<div class="threehalf columns">
							<img src="/assets/facebook.png" class="scale-with-grid img-circle" alt="" />
						<p class="proj-name2">Facebook</p>
						<p class="proj-type2">Scholarship Sponsor</p>
					</div> <!-- end four columns -->
					<div class="threehalf columns">
							<img src="/assets/heroku.png" class="scale-with-grid img-circle" alt="" />
						<p class="proj-name2">Heroku</p>
						<p class="proj-type2">Scholarship Sponsor</p>
					</div> <!-- end four columns -->
					
					<div class="threehalf columns">
							<img src="/assets/daily-muse.png" class="scale-with-grid img-circle" alt="" />
						<p class="proj-name2">The Daily Muse</p>
						<p class="proj-type2">Scholarship Sponsor</p>
					</div> <!-- end four columns -->
					
					<div class="threehalf columns">
							<img src="/assets/sm.png" class="scale-with-grid img-circle" alt="" />
						<p class="proj-name2">SurveyMonkey</p>
						<p class="proj-type2">Scholarship Sponsor</p>
					</div> <!-- end four columns -->
					
					<div class="threehalf columns">
							<img src="/assets/stripe.png" class="scale-with-grid img-circle" alt="" />
						<p class="proj-name2">Stripe</p>
					</div> <!-- end four columns -->

				</div></a>
			</div>
		</div>