<div id="intro">
	<div class="title">
		<p >The Programming</p>
		<h1 class="small">Fellowship for Women</h1>
		<p>become a software developer in 10-weeks</p>
		<a href="#services" class="btn xlarge blue" style="margin-bottom:5px;">Learn More</a>
	</div> <!-- end title -->
</div> <!-- end intro -->


	<div class="logo-bar">
  <div class="inner1">
    <ul>
        <li><em class="logo-bar-logos-sony"></em></li>
        <li><em class="logo-bar-logos-virgin"></em></li>
        <li><em class="logo-bar-logos-ogilvy"></em></li>
        <li><em class="logo-bar-logos-verizon_wireless"></em></li>
        <li><em class="logo-bar-logos-universal"></em></li>
    </ul>
  </div>
</div>

<div id="services">
	<div class="container">
		
	
		<div class="process sixteen columns">
			<center><h3><span class="line"></span>A Game-Changer for your career<span class="line"></span></h3></center>
		</div> <!-- end sixteen columns -->
		
		<div class="portfolio">
			
			<div class="one-third column">
					<p><span style="font-size:32px">Community</span></p>
					<div class="photo-stack">
						<ul class="opportunity-pic">
							<li class="community-pic"></li>
						</ul>​
					</div> <!-- end photo-stack column -->
					Join a growing alumni network of women engineers in Silicon Valley.  Get plugged-in to the Silicon Valley eco-system.  <a href="#">Learn more >></a>
			</div> <!-- end one-third column -->
			
			<div class="one-third column">
				<p><span style="font-size:32px">Mentorship</span></p>
				<div class="photo-stack">
					<ul class="community-pic">
						<li class="czf-teach"></li>
					</ul>​
				</div> <!-- end photo-stack column -->
				Our team is comprised of passionate industry experts and some of the top instructors in the world.  <a href="#">Learn more >></a>
			</div> <!-- end one-third column -->
			
				<div class="one-third column">
					<p><span style="font-size:32px">Opportunities</span></p>
					<div class="photo-stack">
						<ul class="czf-teach">
					    <li class="opportunity-pic"></li>
						</ul>​
					</div> <!-- end photo-stack column -->
					We provide training and job placement resources for all of our students.  The majority of our graduates go on to work as software engineers. <a href="#">Learn more >></a>
				</div> <!-- end one-third column -->
		

			
		</div> <!-- end six columns -->

	</div> <!-- end container -->
</div> <!-- end contact -->