<div id="intro">
	<div class="title">
	
	</div> <!-- end title -->
	
</div> <!-- end intro -->

<div class="title-helper scale-with-grid">
	<div class="container">
	<h1>Programming Fellowship for Women </h1>
		<p>10-weeks. Become a developer. Exclusively for women.</p><a href="#services" style="margin-top:-135px; margin-left:775px" class="btn xlarge blue">Learn More</a>
	</div>
</div>


	<div class="logo-bar scale-with-grid">
  <div class="inner1">
	<div class="container">
    <ul>
        <li><em class="logo-bar-logos-sony"></em></li>
        <li><em class="logo-bar-logos-virgin"></em></li>
        <li><em class="logo-bar-logos-ogilvy"></em></li>
        <li><em class="logo-bar-logos-verizon_wireless"></em></li>
        <li><em class="logo-bar-logos-universal"></em></li>
    </ul>
		</div>
  </div>
</div>

<div id="services">
	<div class="container">
		
	
		<div class="process sixteen columns">
			<center><h3><span class="line"></span>A Game-Changer for your career<span class="line"></span></h3></center>
		</div> <!-- end sixteen columns -->
		
		<div class="portfolio">
			
			<div class="one-third column">
					<p><span style="font-size:32px">Community</span></p>
					<div class="photo-stack">
						<ul class="opportunity-pic">
							<li class="community-pic"></li>
						</ul>​
					</div> <!-- end photo-stack column -->
					Join a growing alumni network of women engineers in Silicon Valley.  Get plugged-in to the Silicon Valley eco-system.  <%= link_to "Learn More >>", about_path %>
					</br ></br >
			</div> <!-- end one-third column -->
			
			<div class="one-third column">
				<p><span style="font-size:32px">Mentorship</span></p>
				<div class="photo-stack">
					<ul class="community-pic">
						<li class="czf-teach"></li>
					</ul>​
				</div> <!-- end photo-stack column -->
				Our team is comprised of passionate industry experts and some of the top instructors in the world.  <%= link_to "Learn More >>", about_path %></br ></br >
			</div> <!-- end one-third column -->
			
				<div class="one-third column">
					<p><span style="font-size:32px">Opportunities</span></p>
					<div class="photo-stack">
						<ul class="czf-teach">
					    <li class="opportunity-pic"></li>
						</ul>​
					</div> <!-- end photo-stack column -->
					We provide training and job placement resources for all of our students.  The majority of our graduates go on to work as software engineers. <%= link_to "Learn More >>", about_path %>
				</div> <!-- end one-third column -->
		

				</div> <!-- end container -->
			</div> <!-- end contact -->		
		</div> <!-- end six columns -->
		
		<!-- Quote -->
		<div class="container">
		<div class="process2 three columns">
			<div class="kimber-image">
				<img src="/assets/kimber.png" class="scale-with-grid img-circle"alt="" />
				<p class="proj-name2">Kimber Lockhart</p>
				<p class="proj-type2">Director of Engineering</p>
				<img src="/assets/box.png" />
				
			</div>
		</div>
		<div class="process2 thirteen columns">
			<div class="kimber-quote1">
				<div class="right-quote">
				<p>"I love what Hackbright Academy is doing. One of the biggest issues I'm seeing in industry with technical women is that they don't decide early enough they want to code.  This is a great way to give them a second chance."</p>
				</div>
			</div>	
		</div>
		</div>
		
		<!-- END Quote -->
		
		
		
		
		<div id="work">

			<div class="container">


				<div class="portfolio2">
					<div class="sixteen columns alumni-row">
						<h4><span class="line"></span> Thank you to our sponsors <span class="line"></span></h3>
					</div>

					<div class="four columns">
							<img src="/assets/heroku.png" class="scale-with-grid img-circle" alt="" />
						<p class="proj-name2">Heroku</p>
						<p class="proj-type2">Scholarship Sponsor</p>
					</div> <!-- end four columns -->
					
					<div class="four columns">
							<img src="/assets/sm.png" class="scale-with-grid img-circle" alt="" />
						<p class="proj-name2">Survey Monkey</p>
						<p class="proj-type2">Scholarship Sponsor</p>
					</div> <!-- end four columns -->

					<div class="four columns">
							<img src="/assets/stripe.png" class="scale-with-grid img-circle" alt="" />
						<p class="proj-name2">Stripe</p>
					</div> <!-- end four columns -->

					<div class="four columns">
							<img src="/assets/twilio.png" class="scale-with-grid img-circle" alt="" />
						<p class="proj-name2">Twilio</p>
					</div> <!-- end four columns -->

					
				</div>
			</div>
		</div>
		
		
		<center><h5>Spread the word</h5></center>
		</br >
		<p><div class="apply_share">
			
			<!-- AddThis Button BEGIN --><center>
			<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-518b203e1395cbfd"></script>
			<!-- AddThis Button END -->
			</center>
		</div>
		</p>
		