<div id="intro2">
	<div class="title">
		<h1 class="small">Join the Team</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>
	<div id="services">
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>
<div id="work">
	<div class="container">	
				<!-- Selina -->
				<div class="process2 three columns">
					<div class="kimber-image">
						<img src="/assets/charles.png" class="scale-with-grid img-circle"alt="" />
						<p class="proj-name4">Charles Ruhland</p>
						<p class="selina">Hacker In Residence</p>
						<p class="selina">Fall 2012</p>
					</div>
				</div>
				<div class="process2 thirteen columns">
					<div class="kimber-quote">
						<div class="right-quote">
						<p>"The Hacker In Residence program at Hackbright really allowed me to explore my passion for teaching and also gave me the opportunity to accelerate my career as a software engineer."</p>
					</div>
					</div>
				</div>
				<!-- End Selina -->	
	</div> <!-- end container -->
</div> <!-- end work -->

<div id="work">
	<div class="container">	
		<div class="portfolio2">
		<div class="sixteen columns">
			<h3> Open Positions </h3>
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->

<div id="work">
	<div class="container">	
		<div class="portfolio2">
				
		<div class="eight columns">
			<h3> Instructor </h3>
			<h5> Full-Time </h5>
			</br >
			<p><%= link_to "Apply for this position", instructor_path, :class => "btn" %></p>
		</div>
		
		<div class="eight columns">
			<h3> Hacker In Residence </h3>
			<h5> 3 month rotation </h5>
			</br >
			<p><%= link_to "Apply for this position", hir_path, :class => "btn" %></p>
		</div>
		
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->

<div id="work">
	<div class="container">	
		<div class="portfolio2">
		<div class="sixteen columns">
			<h3><span class="line"></span> What is a Hacker In Residence? <span class="line"></span></h3>
			</br >
			<p>The Hacker in Residence is a new position at Hackbright.  It is a 3-month teaching rotation.  You will join the teaching staff in San Francisco, CA and help teach our programming fellowship for women.  It's a great opportunity to practice your passion for teaching and programming.  When the rotation is complete you will have the option to join the team as a full-time instructor.  We can also provide job searching assistance if you are looking for a job in San Francisco as a software engineer.  If you or your company are interested, please let us know: <a href="mailto:&#100;&#064;&#104;&#097;&#099;&#107;&#098;&#114;&#105;&#103;&#104;&#116;&#097;&#099;&#097;&#100;&#101;&#109;&#121;&#046;&#099;&#111;&#109;" target="_blank">d@hackbrightacademy.com </a>! </p>
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->


		</div> <!-- end Something... -->
	</div> <!-- end container -->
</div> <!-- end contact -->
</div>
</div>
