<div id="intro-fb">
	<div class="title scale-with-grid">
		<h1 class="smallest">The Facebook "Moms In Tech" Scholarship</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>
	<div id="services">
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>
<div id="work">
	<div class="container">	
		<div class="portfolio3">
		<div class="sixteen columns">
			<center><h3><span class="line"></span>Presented by Facebook<span class="line"></span></h3></center>
			</br >
			<center><a href="http://www.hackbrightacademy.com/mit_apply" class="btn large green apply-button">Apply for the Moms in Tech Scholarship</a></center>
			
			<div class="eight columns">
			<p><center><h4>Hackbright Academy</h4></center>Hackbright Academy is an accelerated
			Computer Science and Software
			Development school exclusively for
			women. The Hackbright Academy
			Programming Fellowship is a training
			program designed to help women
			become awesome programmers. We
			teach the fundamentals of modern
			web development, then introduce our
			students to Silicon Valley companies
			looking to expand their engineering
			teams.</p>
			</div>
			<p><center><h4>Facebook</h4></center></b>Facebook's mission is to make the world more open and connected. People use Facebook to stay
			connected with friends and family,
			to discover what’s going on in the
			world, and to share and express
			what matters to them. Facebook is
			defined by it’s hacker culture - an
			environment that rewards creative
			problem solving and rapid decision
			making.</p>
			</br>
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->

<div id="work">
	<div class="container">	
		<div class="portfolio3">
			<div class="sixteen columns">
			<div class="eight columns">
			<center><h3> Goals </h3></center>
			</br >
			<ul>
			<li>Our goals at Hackbright Academy are to be the best place to become a software
			engineer and to help more women become software engineers. That’s why
			Hackbright Academy is exclusively for women. It’s been quite the journey so far! We’ve helped over
			50 women break into the industry with confidence, relationships, and skills that will
			last a lifetime. We’ve worked with many great companies over the past year, and
			most recently, we’ve begun working with Facebook.</li>
			</br>
			<li>Facebook also cares deeply about helping more women succeed as software
			engineers. Today, we’re excited to announce a special scholarship with Facebook for
			women who have taken a career break from tech — the Moms in Tech Scholarship.</li>
			</br>
			<li>There are many women who have started successful careers in tech who choose to
			put their career on hold to dedicate more time to their children and families. When
			these women think about returning to work, we want to help them lean back in to
			their careers with the most up-to-date skill set and technical abilities. <strong>The Facebook
			Moms in Tech Scholarship will cover the full $12,000 tuition to Hackbright</strong> where
			these women will be able to refresh their technical skills and learn entirely new
			ones so they’re well-equipped to rejoin the workforce.</li>
			</ul>
			<br />
			</div>
			<div class="seven columns">
			<center><h5>Candidates for this scholarship should be:</h5></center>
			</br >
			<li>A mother</li>
			<li>A former tech professional</li>
			<li>Intending to return as a technically hands-on lead, manager, or director </li>
			<p>*The application Deadline is 5/17 for the Facebook Scholarship.</p>
			<center><a href="http://www.hackbrightacademy.com/mit_apply" class="btn large green apply-button">Apply for the Moms in Tech Scholarship</a></center>
			</div>
			</div>
			<div class="clear"></div>
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->



<div class="jagged2" id="about-hook"></div>	
<div class="separator">
	<div class="container">
		<div class="process-separator three columns">
			<div class="kimber-image">
				<img src="/assets/facebook.png" class="scale-with-grid img-circle"alt="" />
				<p class="proj-name-separator">Facebook</p>
			</div>
		</div>
		<div class="process-separator thirteen columns">
			<div class="kimber-quote">
				<div class="separator-quote">
				<p>"Our Scholarship will cover the full $12,000 tuition to Hackbright where
					these women will be able to refresh their technical skills and learn entirely new
					ones so they’re well-equipped to rejoin the workforce."</p>
				</div>

			</div>	
		</div>
</div>
</div>
<div class="jagged-fb"></div>




	</div> <!-- end container -->
</div> <!-- end contact -->
