
<div class="jagged"></div>
	<div id="services">
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>

<div id="work">
	<div class="main-content container">	
		<div id="work">
			<div class="container">	
				<div class="portfolio3">
				<div class="sixteen columns">
					<center><h3><span class="line"></span> Placement Agreement <span class="line"></span></h3></center>
					</br >
					<p><span class="placement-point">Parties:</span> This agreement is between Sutter Studios, Inc, DBA “Hackbright Academy” (“we,” “us”) and the company you represent (“you”).</p>

					<p><span class="placement-point">Services:</span> Hackbright Academy trains students in various skills related to software development. If you accept the terms of this agreement, you will have an opportunity to hire our candidates through our placement service.</p>

					<p><span class="placement-point"> Placement fee:</span> If you hire any student who has participated in the Hackbright Academy program, you will pay us 20% of that student’s first-year salary within 30 days of the day that student starts working for you as a full-time employee. If a student approaches you directly or through a placement firm, you will notify us in writing within 48 hours and, if you hire that student, you will pay us according to the above terms.</p>

					<p><span class="placement-point">Guarantee:</span> If a student you have hired resigns or is fired for cause within the first 90 days of employment with you, we will give you the opportunity to hire any other Hackbright Academy student under similar terms at no additional cost. Hackbright Academy makes no guarantees regarding students’ skills or performance on the job.</p>

					<p><span class="placement-point">Governing law:</span> This Agreement will be governed by the laws of the State of California.</p>

					<p><span class="placement-point">Entire agreement:</span> This Agreement is the entire Agreement between you and Hackbright Academy, and supersedes any prior Agreements between us with respect to the subject matter of this Agreement.</p>
					<center><span class="placement-time">This agreement was updated on October 29, 2012 at 5:21pm</span></center>
				</div>
				</div> <!-- end portfolio2 -->
			</div> <!-- end container -->
		</div> <!-- end work -->
		<center></center>
	</div> <!-- end container -->
</div> <!-- end work -->





		</div> <!-- end Something... -->
	</div> <!-- end container -->
</div> <!-- end contact -->
</div>
</div>
