<div id="intro2">
	<div class="title">
		<h1 class="small">Testimonials</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>
	<div id="services">
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>
<div id="work">
	<div class="container">	
		<div class="portfolio2">
		<div class="sixteen columns">
			<h3><span class="line"></span> What students are saying <span class="line"></span></h3>
			</br >
		</div>
		</div> <!-- end portfolio2 -->
	</div> <!-- end container -->
</div> <!-- end work -->

<div id="work">
	<div class="container">	
		
		<!-- Ashley -->
		<div class="testimonials1 three columns">
			<div class="kimber-image">
				<img src="/assets/ashley.png" class="scale-with-grid img-circle"alt="" />
				<p class="proj-name2">Ashley L.</p>
				<p class="proj-type2">Summer 2012</p>
			</div>
		</div>
		<div class="testimonials1 thirteen columns">
			<div class="kimber-quote">
				<p>I don't mean to sound cheesy, but making the decision to go through Hackbright really changed my life. I went in to the program with a small amount of experience picking up HTML and CSS on my own from working with existing websites. Some in my class had literally no experience. That's what it's made for, so you absolutely can go in with no prior experience at all and come out with a job as a developer, if you are able and willing to adapt to a developer's mindset and work to learn and improve constantly -- the same challenges you face during Hackbright are what engineers encounter in their jobs every day. <br /><br /> I found that the strength of my knowledge and the projects I had on GitHub and my resume coming out of Hackbright were definitely enough to be considered for entry-level positions in many companies in the bay area, and I had several offers after the program. That said, I think one big perception change that we all went through at/after Hackbright was from seeing the program as the tangible laundry list of skills/benefits like Python, pair programming, job interview -- to understanding it really as a chance to lay the foundation for understanding development and technology in a more general sense, and be prepared to enter the industry and continue learning new things, as all good developers do. I believe the main goal of the program is not to get a job placement, but to learn the fundamentals of development -- the instructor Christian really cares about the students and wants them to be able to do everything they might want to do in the future, from mobile/web/software development, to gaining more experience and learning to design databases or become a CTO. So I think it's really a great way to learn a ton, expand your network, and show that you're serious about taking part in the technical community, and from that, if you want a job you should be able to get one.</p>
			</div>
		</div>
		<!-- End Ashley -->	
		<hr>
		<!-- Andree -->
		<div class="testimonials1 three columns">
			<div class="kimber-image">
				<img src="/assets/andree.png" class="scale-with-grid img-circle"alt="" />
				<p class="proj-name2">Andree B.</p>
				<p class="proj-type2">Summer 2012</p>
			</div>
		</div>
		<div class="testimonials1 thirteen columns">
			<div class="kimber-quote">
				<p>I was looking for a job in the Bay Area for one year. I started learning programming by myself a couple months before starting at Hackbright Academy. After completing Codecademy.com, learn Python the hardway, Hackbright Academy was the next step for me. It was time for me to put all that knowledge together and create web applications.<br /><br />Being a part of Hackbright Academy is an incredible experience, not only because I have learn an infinite amount of things but because of the people. I was great to be surrounded by smart people with the urge of learning n33t stuff. At Hackbright Academy they don't show you only how to code but they help you get ready for the technical interview questions. After 10 weeks of hard work at Hackbright and at different Hackathons, I got an internship as a backend engineer in a well founded startup.</p>
			</div>
		</div>
		<!-- End Andree -->
		<hr>
		<!-- Zoe -->
		<div class="testimonials1 three columns">
			<div class="kimber-image">
				<img src="/assets/zoe.png" class="scale-with-grid img-circle"alt="" />
				<p class="proj-name2">Zoe K.</p>
				<p class="proj-type2">Summer 2012</p>
			</div>
		</div>
		<div class="testimonials1 thirteen columns">
			<div class="kimber-quote">
				<p>When people ask about Hackbright, I tell them it was one of the best decisions I ever made. Christian and David are both incredibly helpful and invested in your success as a student and beyond. I had a blast learning programming, and came away with a great foundation of knowledge, practical skills, and connections to great tech companies. Hackbright definitely helped me launch my development career.</p>
			</div>
		</div>
		<!-- End Zoe -->
		<hr>
		<!-- Laura -->
		<div class="testimonials1 three columns">
			<div class="kimber-image">
				<img src="/assets/laura.png" class="scale-with-grid img-circle"alt="" />
				<p class="proj-name2">Laura K.</p>
				<p class="proj-type2">Summer 2012</p>
			</div>
		</div>
		<div class="testimonials1 thirteen columns">
			<div class="kimber-quote">
				<p>I learned far more in 10 weeks at Hackbright than I could have on my own. I came out of the program with an excellent foundation in web development and several finished projects to show employers. Christian is a very knowledgeable programmer and one of the best teachers I've ever had. He can explain complicated technical concepts clearly and ensures that everyone in the class understands the material and is challenged. David does a great job of organizing opportunities for Hackbright students to connect with the web development world, such as field trips to YCombinator, events hosted by Hackbright like our Girl Geek Dinner, and most importantly, opportunities to speak one-on-one with companies who are looking to hire Hackbright graduates. Hackbright was a great experience, and I definitely recommend it.
				</p>
			</div>
		</div>
		<!-- END Laura -->
<hr>
<!-- Michelle -->
<div class="testimonials1 three columns">
	<div class="kimber-image">
		<img src="/assets/michelle.png" class="scale-with-grid img-circle"alt="" />
		<p class="proj-name2">Michelle S.</p>
		<p class="proj-type2">Summer 2012</p>
	</div>
</div>
<div class="testimonials1 thirteen columns">
	<div class="kimber-quote">
		<p>Attending Hackbright Academy has been one of the most defining moments in both my personal and professional lives since college.  The course, facilitated by an incredibly talented and knowledgable teacher Christian, is intellectually challenging and practical at the same time.  I entered into Hackbright aiming to get an overview of what programming is about, to satisfy my own intellectual curiosity mostly.  After 10 weeks of intense learning, I not only feel inspired and hungry for more learning, but also find that the ability to program has opened up a whole new perspective of the way I viewed the world.  I also feel blessed with a group of friendly and driven classmates, and the long list of rockstar speakers that came to share with our class.</p>
	</div>
</div>
<!-- END Michelle -->		

	<%= link_to "<< Community", pages_community_path, :class => "btn", :style =>"float:left" %>
	<%= link_to "FAQ >>", pages_faq_path, :class => "btn", :style =>"float:right" %>	
	
		
	</div> <!-- end container -->
</div> <!-- end work -->






</div>
</div>
