<div id="intro2">
	<div class="title">
		<h1 class="small">Courses</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>
	<div id="services">	
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>

	<div id="work">
		<div class="container">	
			<div class="portfolio2">
			<div class="sixteen columns">
				<h3><span class="line"></span>Full-time<span class="line"></span></h3>
				<p>Hackbright Academy offers a full-time, quarterly program in San Francisco, CA.</p>
					</div> <!-- end portfolio2 -->
				</div> <!-- end container -->
			</div> <!-- end work -->
				
				<div class="container">
					
					<!-- Fellowship -->	

																		<div class="course-box back-end">
																	              <div class="tuition-box">
																	                <div class="course-description-left with-line">
																	                  <h7>Fellowship: Software Engineering</h7>
																										<p class="course-description-paragraph gray">This is a 10-week accelerated software development program designed to help women become awesome programmers. At Hackbright you will learn the fundamentals of computer science and modern web development...</p>
																	                  <ul class="check-list-padding">
																											<li><i  class="fa fa-check" style="padding-right:8px; color:#eb462a"></i>Level: Beginner</li>
																	                    <li><i  class="fa fa-calendar" style="padding-right:8px; color:#eb462a"></i>Application Deadline: November 15, 2013 [PASSED]</li>
																	                  </ul>

																	                </div>
																	                <div class="small-right">
																	                  <img style="width:100px;"src="/assets/pylogo.png">
																	
																										<div class="full-width-gray-line"></div>												                  
																	                  	<div class="tuition-div">
																		                    <p class="tuition-amount">Spring 2014</p>
																		                  </div>
																	<div class="full-width-gray-line"></div>
																	                  <a href="/about" class="btn-flat btn-blue">Learn More</a>
																	                </div>
																	                <div class="clearfix"></div>
																	              </div>
																	            </div>

					<!-- Fellowship END -->
					
					
				
				
				

	<div id="work">
		<div class="container">	
			<div class="portfolio2">
			<div class="sixteen columns">
				<h3><span class="line"></span>Part-time<span class="line"></span></h3>
				<p><p>Hackbright Academy offers part-time programs in San Francisco, CA.</p>
				</p>
			</div> <!-- end portfolio2 -->
		</div> <!-- end container -->
	</div> <!-- end work -->

	<div class="container">
		
		<!-- MINI DS D -->	

														                <div class="data-science small-course">
																							<div class="tuition-div">
														                    <p class="panel-course-title">Data Science:</br><span style="font-size:16px">Machine Learning</span></p>
														                  </div>														                  
																							<img class="img-circle-course float:left;"src="/assets/danw.png">
																							<p class="tuition gray">Instructor: Dan Wiesenthal</br>CTO @ Scout.ai</p>
														                  <a href="/courses/data_science_machine_learning" class="btn-flat btn-blue">Learn More</a>
														                </div>

		<!-- DS D END -->
		
		<!-- MINI DS D -->	

														                <div class="data-science small-course">
																							<div class="tuition-div">
														                    <p class="panel-course-title">Data Science:</br><span style="font-size:16px">Event Tracking & Analytics</span></p>
														                  </div>														                  
																							<img class="img-circle-course float:left;"src="/assets/mwetzler.png">
																							<p class="tuition gray">Instructor: Michelle Wetzler</br>Data Engineer @ Keen.io</p>
																							
														                  <a href="/courses/data_science_analytics" class="btn-flat btn-blue">Learn More</a>
														                </div>

		<!-- DS D END -->
		
		<!-- MINI DS D -->	

														                <div class="mobile-course small-course">
																							<div class="tuition-div">
														                    <p class="panel-course-title">Mobile:</br><span style="font-size:16px">UI Development for iOS</span></p>
														                  </div>														                  
																							<img class="img-circle-course float:left;"src="/assets/dcampos.png">
																							<p class="tuition gray">Instructor: Danilo Campos</br>iOS Platform Lead @ Level Money</p>																						
														                  <a href="/courses/mobile_ios_frontend" class="btn-flat btn-blue">Learn More</a>
														                </div>

		<!-- DS D END -->		
		
		<!-- MINI DS D -->	

														                <div class="js-course small-course">
																							<div class="tuition-div">
														                    <p class="panel-course-title">Javascript:</br><span style="font-size:16px">Node.js</span></p>
														                  </div>														                  
																							<img class="img-circle-course float:left;"src="/assets/tcroucher.png">
																							<p class="tuition gray">Instructor: Tom Croucher</br>Author @ Node.js</p>																						
														                  <a href="/courses/javascript_node" class="btn-flat btn-blue">Learn More</a>
														                </div>

		<!-- DS D END -->

		
		
		<!-- MINI DS D -->	

														                <div class="clearfix"></div>

		<!-- DS D END -->

	
	</div>
	
	



		</div> <!-- end Something... -->
	</div> <!-- end container -->
</div> <!-- end contact -->
</div>
</div>
