<div id="intro-ds">
	<div class="title">
		<h1 class="small">Data Science</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>
	<div id="services">	
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>

	<div id="work">
		<div class="container">	
			
				
				<div class="container">
					

					
				
				
				


<div class="container">
<!-- DS D -->	
							
													<div class="course-box back-end">
												              <div class="tuition-box">
												                <div class="course-description-left with-line">
												                  <h7>Data Science: Event Tracking & Analytics</h7>
																					
																					<h4>About this course</h4>
																					<p class="course-description-paragraph" style="color:gray">Interested in data and want to learn more? Hackbright Academy and Keen IO are coming together to bring you an intense two-day data science course.</p>
																					<p class="course-description-paragraph" style="color:gray">Modern technologies allow us to capture more data than we ever dreamed possible. Now we can record any interaction that happens in a mobile app, website, server, or smart device. We call this "event data". How can we use this data to learn more about our apps, our world, and ourselves?</p>
																					<h4>Course Objective</h4>
																					<p class="course-description-paragraph" style="color:gray">Students will leave the class with an understanding of data concepts and the skills to apply them to real-world business scenarios. For example, implementing data collection and reporting for a website or mobile app.</p>
																					<h4>Key Takeaways</h4>
																					<ul class="check-list-padding">
																						<li><i  class="fa fa-check" style="padding-right:8px; color:#eb462a"></i>What is data science?</li>
																						<li><i  class="fa fa-check" style="padding-right:8px; color:#eb462a"></i>What is it used for?</li>
																						<li><i  class="fa fa-check" style="padding-right:8px; color:#eb462a"></i>What is "big data"?</li>
																						<li><i  class="fa fa-check" style="padding-right:8px; color:#eb462a"></i>What is event data?</li>
																						<li><i  class="fa fa-check" style="padding-right:8px; color:#eb462a"></i>How to model, capture and query event data</li>
																						<li><i  class="fa fa-check" style="padding-right:8px; color:#eb462a"></i>How to build simple data visualizations (ie. line charts)</li>
																						
													               	</ul>		
																					
																					
																					<h4>Important Details</h4>
												                  <ul class="check-list-padding">
																						<li><i  class="fa fa-calendar" style="padding:4px;"><span style="padding-left:8px;color:gray;"> Application Deadline: 12/15/13</span></i></li>
																						<li><i  class="fa fa-check" style="padding:4px"><span style="padding-left:8px;color:gray;">Pre-requisites: Novice to intermediate ability in a programming language like python, ruby, or JavaScript. Optionally, students should bring their own app or website to use for the project!</span></i></li>
																						<li><i  class="fa fa-flag" style="padding:4px;"><span style="padding-left:8px;color:gray;">Level: Mid-career</span></i></li>
												                  <li><i  class="fa fa-tag" style="padding:4px;"><span style="padding-left:8px;color:gray;">Data Science</span></i></li>
																					</ul>
																					<!-- ============================= FORM VALIDATION AND STORING START ============================= >
																					<form name="getEmail" method="post" action="https://script.google.com/macros/s/AKfycbw_aKuFU_nG8pRW9KvTXPik7zjR4BbsHXKhn26qxPx2er41gxbP/exec" target="hidden_iframe" onsubmit="return validateForm()" >
																						<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
																						<input type="text" name="Email" style="font-size:14px;" placeholder="Enter Email Address">
																						<input type="submit" class="btn-flat btn-red" style="margin-left:0px;" value="Apply"></li>
																					</form>
																					 ============================= FORM VALIDATION AND STORING END ============================= -->
																					<div class="full-width-gray-line"></div>
																					<h4>About the Instructor</h4>
																					<p class="course-description-paragraph gray"><img class="img-circle-course about-instructor scale-with-grid"src="/assets/mwetzler.png">Michelle is a Director and Data Engineer at the analytics company Keen IO. In addition to running Keen IO internal analytics, she teaches classes on analytics, helps customers, and provides analytics mentorship. She also blogs about analytics and work life. Prior to Keen IO, Michelle was a Technical Architect at Accenture and managed large-scale SAP and Salesforce implementations. </p>
																					<div class="full-width-gray-line"></div>
																					
																					
																					<br/>
																					
																					<span class='st_fblike_hcount' displayText='Facebook Like'></span>
																					<span class='st_twitter_hcount' displayText='Tweet'></span>
																					<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
																					<br/>
																					<br/>
																					
																					<div class="full-width-gray-line"></div>
												                  
																					</br>
																					<p class="gray">Employer Sponsorship</p>
																					<p class="course-description-paragraph" style="color:gray;font-size:14px;">In the past, employers have sponsored their employees to take Hackbright Academy courses.  Dedicating time outside of the office is an effective way to skill up.  Ask us for a template letter to send to your manager if you'd like to request employer sponsorship.</p>
																				
												                </div>
												                <div class="small-right">
												                  <img class="img-circle-course-description scale-with-grid" src="/assets/mwetzler.png">
																					<p class="tuition gray">Instructor: Michelle Wetzler, Director and Data Engineer @ Keen.io</p>
																					
																						<div class="full-width-gray-line"></div>
																						<div class="tuition-div">
													                    <p class="tuition gray">When?</p>
													                    <p class="tuition-amount"><i  class="fa fa-female" style="margin-right:10px"></i>Winter 2014</p>
													                  </div>						
																						<div class="full-width-gray-line"></div>
																						</br>
																						<!-- ============================= FORM VALIDATION AND STORING START ============================= -->
																						<form name="getEmail" method="post" action="https://script.google.com/macros/s/AKfycbw_aKuFU_nG8pRW9KvTXPik7zjR4BbsHXKhn26qxPx2er41gxbP/exec" target="hidden_iframe" style="text-align:center;" onsubmit="return validateForm()" >
																							<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
																							<input type="text" name="Email" style="width:100%"  placeholder="Enter Email Address">
																							<input type="submit" class="btn-flat btn-blue" style="margin-left:0px;margin-top:0px;width:100%;" value="I'm Interested"></li>
																						</form>
																						<script type="text/javascript">
																					
																						function validateForm()
																						{
																						var x=document.forms["getEmail"]["Email"].value;
																						if (x==null || x=="")
																						  {
																								alert("Please enter a valid email address.");																						  
																								return false;
																							
																						  }
																							
																						else {
																							alert("Thank you! We will reach out to you with next steps shortly.");
																							 return true;				
																						}
																						
				
																						}
																						</script>
																					<!-- ============================= FORM VALIDATION AND STORING END ============================= -->
												                </div>
												                <div class="clearfix"></div>
												              </div>
												            </div>

<!-- DS D END -->		


							
										                <div class="clearfix"></div>

	
	</div>
	
	



		</div> <!-- end Something... -->
		<p><a href="/courses"><i class="fa fa-arrow-left"></i> Back to courses</a></p>
		
	</div> <!-- end container -->
</div> <!-- end contact -->

</div>

</div>
