<div id="intro-courses">
</div> <!-- end intro -->
<div class="jaggedstub"></div>
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>

	<div class="course-box container">	
			<div class="container">	
				<div class="sixteen columns">
					
					<div class="one-third column" style="float:right">
						<div class="course-instructor">
								<img src="/assets/liz.png" class="scale-with-grid" style="width:300px;" alt="" />
								<p class="t-name">Christian Fernandez</p>
								<p class="t-position">Co-founder & CTO</p>
						</div>
					
					<a href="#" class="btn-flat btn-blue" style="width:300px;">Apply Now!</a>
					</div>
					
					<h3>Hackbright Academy Application</h3>
					</br >
					
				</div>
			</div> <!-- end container -->
	</div> <!-- end container -->



			
		</div> <!-- end container -->
	</div> <!-- end work -->












	</div> <!-- end container -->
</div> <!-- end contact -->
</div>
</div>
