<div id="intro-js">
	<div class="title">
		<h1 class="small">Javascript</h1>
		</div> <!-- end title -->
</div> <!-- end intro -->
<div class="jagged"></div>
	<div id="services">	
	<div class="container">
	</div> <!-- end container -->
	<div class="clear"></div>

	<div id="work">
		<div class="container">	
			
				
				<div class="container">
					

					
				
				
				


<div class="container">
<!-- DS D -->	
							
													<div class="course-box back-end">
												              <div class="tuition-box">
												                <div class="course-description-left with-line">
												                  <h7>Javascript: Node.js</h7>
																					<h4>About this course</h4>
																					<p class="course-description-paragraph" style="color:gray">This course is an introduction to Node.js and focuses on helping attendees understand Node's core strengths. </p>
																					<h4>Course Objective(s)</h4>
																					
																					<p class="course-description-paragraph" style="color:gray">This introduction for professional developers aims to help existing developers gain an understanding of how to work effectively with Node.js rather than repeat basic web development topics.</p>
																					
																					<h4>Key Takeaways</h4>
																					<ul class="check-list-padding">
																						<li class="success">Node.js installation and development environment</li>
																						<li class="success">When to use Node.js</li>
																						<li class="success">Why Node.js offers benefits compared with other approaches</li>
																						<li class="success">Writing Node.js HTTP servers</li>
																						<li class="success">Writing Node.js HTTP clients</li>
																						<li class="success">Node.js Streams</li>
																						<li class="success">NPM (Node Package Manager)</li>
																						<li class="success">Express (Routing, Middleware, etc)</li>
																						<li class="success">Error Handling</li>
																						<li class="success">Programming patterns</li>
																						<li class="success">Using Socket.io</li>
																						<li class="success">Deploying Node for Production</li>
																						<li class="success">Programming patterns</li>
																						<li class="success">Testing in Node.js</li>
													               	</ul>		
																					
																					
																					<h4>Important Details</h4>
												                  <ul class="check-list-padding">
																						<li><i  class="fa fa-calendar" style="padding:4px;"><span style="padding-left:8px;color:gray;"> Application Deadline: 12/15/13</span></i></li>
																						<li><i  class="fa fa-check" style="padding:4px"><span style="padding-left:8px;color:gray;">Pre-requisites: 1 yr programming exp. or Software Engineering Fellowship or equivalent</span></i></li>
																					
																						<li><i  class="fa fa-flag" style="padding:4px;"><span style="padding-left:8px;color:gray;">Level: Mid-career</span></i></li>
												                  <li><i  class="fa fa-tag" style="padding:4px;"><span style="padding-left:8px;color:gray;">Mobile</span></i></li>
																					</ul>
																					
																					
																				
																					
																					<div class="full-width-gray-line"></div>
												                  
																					
																					
																					
																					<h4>About the Instructor</h4>
																					<p class="course-description-paragraph gray"><img class="img-circle-course about-instructor scale-with-grid"src="/assets/tcroucher.png">Tom is an experienced developer and architect and has been building web sites for over a decade. Tom has contributed to projects for companies and organisations like Yahoo!, NASA, Walmart, Comcast, MySpace to name a few. Tom worked at Joyent on the Node.js team, and is the co-author of the O'Reilly book "Up and Running with Node.js".</p>
																					<div class="full-width-gray-line"></div>
																					
																					
																					<br/>
																					
																					<span class='st_fblike_hcount' displayText='Facebook Like'></span>
																					<span class='st_twitter_hcount' displayText='Tweet'></span>
																					<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
																					<br/>
																					<br/>
																					
																					<div class="full-width-gray-line"></div>
																					</br>
																					<p class="gray">Employer Sponsorship</p>
																					<p class="course-description-paragraph" style="color:gray;font-size:14px;">In the past, employers have sponsored their employees to take Hackbright Academy courses.  Learning on the job is a great way to learn, but companies have found that dedicating time outside of the office is the quickest way to skill up.  Ask us for a template letter to send to your boss if you'd like to request employer sponsorship.</p>
																					
												
												                </div>
												                <div class="small-right">
												                  <img class="img-circle-course-description scale-with-grid" src="/assets/tcroucher.png">
																					<p class="tuition gray">Instructor: Tom Croucher, Author @ O'Reilly</p>
																					
																	                  
																						<div class="full-width-gray-line"></div>
																						<div class="tuition-div">
													                    <p class="tuition gray">When?</p>
													                    <p class="tuition-amount"><i  class="fa fa-female" style="margin-right:10px"></i>Winter 2014</p>
													                  </div>						
																						<div class="full-width-gray-line"></div>
																						</br>
																						
																						<!-- ============================= FORM VALIDATION AND STORING START ============================= -->
																						<form name="getEmail" method="post" action="https://script.google.com/macros/s/AKfycbx18TLzh5lyNz1SxGwMiAkhgNATUPLGlE9F90SgHbrUhERlpFE/exec" target="hidden_iframe" style="text-align:center;" onsubmit="return validateForm()" >
																							<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
																							<input type="text" name="Email" style="font-size:14px;width:94%;" placeholder="Enter Email Address">
																							<input type="text" name="Linkedin" style="font-size:14px;width:94%;margin-top:15px" placeholder="Enter Linkedin URL">
																							<br/>
																							<input type="submit" class="btn-flat btn-red" style="margin-left:0px;width:100%;" value="Apply"></li>
																						</form>
																						<script type="text/javascript">
																					
																						function validateForm()
																						{
																						var x=document.forms["getEmail"]["Email"].value;
																						if (x=="")
																						  {
																								alert("Please enter a valid email address.");																						  
																								return false;
																							
																						  }
																							
																						else {
																							alert("Thank you! We will reach out to you with next steps shortly.");
																							 return true;				
																						}
																						
				
																						}
																						</script>
																					<!-- ============================= FORM VALIDATION AND STORING END ============================= -->
																					
												                </div>
												                <div class="clearfix"></div>
												              </div>
												            </div>

<!-- DS D END -->		


							
										                <div class="clearfix"></div>

	
	</div>
	
	



		</div> <!-- end Something... -->
		<p><a href="/courses"><i class="fa fa-arrow-left"></i> Back to courses</a></p>
		
	</div> <!-- end container -->
</div> <!-- end contact -->

</div>

</div>
