/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Typography
	#Generic Items
	#Header
	#Intro
	#Services
	#Work
	#About
	#Contact
	#Media Queries
	#Font-Face */


/* #Typography
================================================== */

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 98px;
	font-weight: 700;
	line-height: 80px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
	filter: dropshadow(color=#666666, offx=2, offy=2);
	margin-bottom: 30px;
}

h1.small {
	font-size: 80px;
}
h1.smaller {
	font-size: 50px;
}
h2 {
	font-size: 38px;
	color: #4f4f4f;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #656565;
}

h4 {
	font-size: 18px;
	font-weight: 600;
	color: #545454;
	text-transform: uppercase;
	margin: 12px 0 12px 0;
}

h4.proc {
	color: #3ebeff;
}

h5 {
	font-size: 18px;
	font-weight: 600;
	color: #656565;
	text-transform: uppercase;
	border-bottom: 1px solid #d0d0d0;
	padding-bottom: 5px;
}



/* #Generic Items
================================================== */

.headline {
	text-align: center;
	margin-top: -48px;
	position: relative;
	z-index: 300;
}

.headline p {
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	margin: 0;
	padding: 12px 0 12px 0;
	margin: 40px 0 20px 0;
	color: #686868;
}

.line {
	border-bottom: 1px solid #c0c0c0;
	position: relative;
	display: inline-block;
	width: 200px;
	margin: 0 10px 7px 10px;
}

.action {
	background: #fff;
	text-align: center;
	padding-bottom: 40px;
}

.action p {
	font-size: 22px;
	color: #656565;
}

.action img {
	display: block;
	margin: 10px auto 0 auto;
}

.jagged {
	background: url(jagged.png) repeat-x 0 0;
	position: relative;
	z-index: 100;
	width: 100%;
	height: 18px;
	margin-top: -10px;
	margin-bottom: -7px;
}

.jagged2 {
	background: url(jagged2.png) repeat-x 0 0;
	position: relative;
	z-index: 250;
	width: 100%;
	height: 18px;
	margin-top: -10px;
}

.jagged3 {
	background: url(jagged.png) repeat-x 0 0;
	position: relative;
	z-index: 200;
	width: 100%;
	height: 18px;
	margin-top: -30px;
	margin-bottom: -7px;
}

.separator {
	background: url(class.jpg) repeat fixed;
	position: relative;
	z-index: 200;
	margin-top: -18px;
	text-align: center;
}

.separator p {
	font-size: 33px;
	font-weight: 600;
	line-height: normal;
	padding: 115px 0 115px 0;
	color: #fff;
	font-style: italic;
	text-shadow: 2px 2px 2px rgba(0,0,0,.5);
	filter: dropshadow(color=#666666, offx=2, offy=2);
}


/* #Header
================================================== */

header {
	position: relative;
	z-index: 1000;
	width: 100%;
	text-align: center;
}

.topbar {
	background: #fff;
	width: 100%;
	height: 85px;
	position: relative;
	z-index: 900;
	-webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

p.logo {
  background: url(Hackbright.png) no-repeat;
	font-size: 36px;
	color: #464646;
	font-weight: 600;
	text-align: left;
	padding: 80px 0 0 0;
}

ul.top-social {
	margin: 20px 0 0 0;
	text-align: right;
	font-size: 13px;
	color: #898989;
}

.topbar ul li {
	display: inline;
	margin: 0 0 0 4px;
}

.topbar p {
	margin: 0;
}

.icn-skype {
	background: url(icn-top-skype.png) no-repeat 0 0;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.icn-facebook {
	background: url(icn-top-facebook.png) no-repeat 0 0;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.icn-linkedin {
	background: url(icn-top-linkedin.png) no-repeat 0 0;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.icn-gplus {
	background: url(icn-top-gplus.png) no-repeat 0 0;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.icn-pinterest {
	background: url(icn-top-pinterest.png) no-repeat 0 0;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.icn-dribbble {
	background: url(icn-top-dribbble.png) no-repeat 0 0;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.icn-twitter {
	background: url(icn-top-twitter.png) no-repeat 0 0;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.sprite:hover {
	background-position: 0 -24px;
}


/**** nav ****/

nav {
	/*background: #464646;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);*/
	position: relative;
	width: 100%;
	height: 50px;
	margin-left:250px;
	margin-top: -75px;
	z-index: 1000;
	font-size:18px;
	
}

nav ul {
	text-align: left;
	margin: 16px 25px 0 25px;
}

nav ul li {
	display: inline;
}

nav a {
	color: #000;
	text-decoration: none;
	padding: 7px 14px 7px 14px;
}

nav a:visited {
	color: #464646;
}

nav a:hover {
	background: #fb8d7c;
	border-radius: 4px;
	color: #464646;
}

.contact-top {
	color: #fff;
	text-align: right;
}

.contact-top img {
	vertical-align: middle;
	margin-left: 20px;
	margin-right: 5px;
}

.highlight {
  background-color:rgba(255, 104, 104, .5);
}

/* #Intro
================================================== */

#intro {
	background: url(bg-lauren.jpg) no-repeat;
	position: relative;
	z-index: 1;
	height: 700px;
	margin-top: -20px;
}

.title {
	padding-top: 120px;
	width: 100%;
	text-align: center;
	position: fixed;
}

.title p {
	font-size: 40px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
	filter: dropshadow(color=#666666, offx=2, offy=2);
	margin-bottom: 35px;
}

/* #Intro2
================================================== */

#intro2 {
	background: url(bg-community.png) no-repeat;
	position: relative;
	z-index: 1;
	height: 150px;
}

#intro2 .title {
	padding-top: 30px;
	width: 100%;
	text-align: center;
	position: fixed;
}

.title p {
	font-size: 40px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
	filter: dropshadow(color=#666666, offx=2, offy=2);
	margin-bottom: 35px;
}



/* #Services
================================================== */

#services {
	background: #fff;
	position: relative;
	z-index: 200;
	padding-bottom: 30px;
	padding-top:22px;
}

.services-list {
	text-align: center;
	margin-top: 30px;
}

.services-list p, .process p {
	font-size: 14px;
	color: #737373;
}

p.subheader {
	color: #b1b1b1;
	font-size: 16px;
	margin-bottom: 35px;
}

.process {
	margin-top: 45px;
	text-align: center;
	padding-bottom: 40px;
}

.process img {
	margin-right: 7px;
	vertical-align: middle;
}



/* #Work
================================================== */

#work {
	position: relative;
	background: #fff;
	z-index: 200;
	padding-bottom: 30px;
}

.portfolio {
	text-align: center;
	padding-top: 35px;
}

.portfolio img {
	opacity: 0.85;
}

.portfolio img:hover {
	opacity: 1;
}

h3.whatis {
  color:#656565;
  font-size:35px;
}

.caption {
	background: #e93e22;
	padding: 8px 0 8px 0;
	margin-top: -6px;
	margin-bottom: 20px;
}

.whatis1 {
	background: #e93e22 center no-repeat;
	padding: 8px 0 8px 0;
	margin-top: -6px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.whatis2 {
	background: #fff url(women.png) center no-repeat;
	padding: 8px 0 8px 0;
	margin-top: -6px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.whatis3 {
	background: #fff url(sf-bridge.png) center no-repeat;
	padding: 8px 0 8px 0;
	margin-top: -6px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.transparent {
position: absolute;
top: 30%;
left: 55%;
width:30%;
margin-top: 0px;
font-size: 60px;
font-weight: 100;
line-height: 30px;
color: white;
background: #222;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 10px;
opacity: 0.8;
filter: alpha(opacity=50);
}

p.proj-name {
	color: #fff;
	margin: 0 0 2px 0;
	font-size: 13px;
	text-transform: uppercase;
}

p.proj-type {
	color: #fff;
	margin-bottom: 0;
	font-size: 11px;
	text-transform: uppercase;
}

.portfolio2 {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.portfolio2 img {
	border: 0px solid #d0d0d0;
}

.portfolio2 img:hover {
	opacity: 1;
}

p.proj-name2 {
	margin-top: 2px;
	margin-bottom: 1px;
	font-size: 13px;
	line-height: 10px;
	text-transform: uppercase;
	color: #707070;
}

p.proj-type2 {
	font-size: 11px;
	text-transform: uppercase;
	color: #9c9c9c;
	margin: 0;
}



/* #About
================================================== */

#about {
	position: relative;
	background: #fff;
	z-index: 200;
	text-align: center;
	padding-bottom: 30px;
}

#about h3 {
	margin-top: 40px;
}

.about-us p {
	text-align: left;
	color: #686868;
	font-size: 15px;
}

.about-us {
	padding-bottom: 30px;
}


/***** skills *****/

.skills h5, .testimonials h5 {
	text-align: left;
}

.skills {
	text-align: left;
}

.skills p {
	margin: 0;
	padding-top: 45px;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	display: block;
}

.sk:hover {
	opacity: 0.8;
}

.skill1 {
	background: url(skill1.png) no-repeat 0 0;
	width: 104px;
	height: 118px;
	display: inline-block;
	margin-top: 40px;
}

.skill2 {
	background: url(skill2.png) no-repeat 0 0;
	width: 104px;
	height: 118px;
	display: inline-block;
	margin-left: -6px;
}

.skill3 {
	background: url(skill3.png) no-repeat 0 0;
	width: 104px;
	height: 118px;
	display: inline-block;
	margin-left: -6px;
}

.skill4 {
	background: url(skill1.png) no-repeat 0 0;
	width: 104px;
	height: 118px;
	position: relative;
	margin-top: -30px;
	margin-left: 51px;
}

.skill5 {
	background: url(skill2.png) no-repeat 0 0;
	width: 104px;
	height: 118px;
	position: relative;
	margin-top: -118px;
	margin-left: 153px;
}

.skill6 {
	background: url(skill3.png) no-repeat 0 0;
	width: 104px;
	height: 118px;
	position: relative;
	margin-top: -118px;
	margin-left: 255px;
}


/***** testimonials *****/

.testimonials {
	padding-bottom: 20px;
}

.testimonials h5 {
	margin-bottom: 30px;
}

.testimonials p {
	font-size: 14px;
	color: #8c8c8c;
	text-align: left;
	margin: 0;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #dadada;
}


/***** team *****/

.team {
	padding-bottom: 40px;
}

.team img {
	border: 0px solid #f2f2f2;
}

.team ul li {
	display: inline;
}

.team ul img {
	border: 0;
}

.team ul img:hover {
	opacity: 0.7;
}

p.t-name, p.t-position {
	text-transform: uppercase;
	font-size: 13px;
	margin: 0;
}

p.t-name {
	color: #707070;
}

p.t-position {
	color: #a5a5a5;
	margin-bottom: 4px;
}

p.t-desc {
	font-size: 14px;
	color: #666666;
}



/* #contact
================================================== */

#contact {
	background: #fff;
	position: relative;
	z-index: 200;
	padding-bottom: 60px;
}

.map {
	border: 4px solid #d0d0d0;
	width: 100%;
	margin-top: 40px;
}

.contact-info {
	padding-top: 40px;
}


/***** contact form *****/

.done {
	font-family: 'Open Sans', sans-serif;
	color: #585858;
	font-size: 14px;
	margin-bottom: 15px;
	padding: 10px;
	display: none;
}

.contact-form {
	position: relative;
	z-index: 300;
	margin-top: 40px;
}

.contact-form p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #585858;
	text-transform: uppercase;
	margin-bottom: 2px;
}

.contact-form input {
	background: #ebeaea;
	width: 60%;
	height: 18px;
	margin-bottom: 10px;
	padding-left: 4px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #585858;
	border: 1px solid #dddddd;
}

.contact-form textarea {
	background: #ebeaea;
	margin-bottom: 10px;
	padding-left: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #585858;
	width: 98%;
	height: 125px;
	border: 1px solid #dddddd;
}

.contact-form input.submit-button {
	background: #3ebeff; /* Old browsers */
	background: -moz-linear-gradient(top, #3ebeff 0%, #3ebeff 50%, #30aeee 51%, #30aeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ebeff), color-stop(50%,#3ebeff), color-stop(51%,#30aeee), color-stop(100%,#30aeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3ebeff 0%,#3ebeff 50%,#30aeee 51%,#30aeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3ebeff 0%,#3ebeff 50%,#30aeee 51%,#30aeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3ebeff 0%,#3ebeff 50%,#30aeee 51%,#30aeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3ebeff 0%,#3ebeff 50%,#30aeee 51%,#30aeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ebeff', endColorstr='#30aeee',GradientType=0 ); /* IE6-9 */
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-style: normal;
	font-size: 12px;
	width: 60px;
	margin-top: 5px;
	padding: 1px;
	height: 25px;
	text-align: center;
	border: 0;
}

.contact-form input.submit-button:hover {
	opacity: 0.8;
}


/***** contact info *****/

.contact-info h5 {
	margin-bottom: 25px;
}

.contact-info p {
	color: #656565;
}

.contact-info img {
	margin-right: 10px;
	vertical-align: middle;
}

.social-bottom ul li {
	display: inline;
	margin-right: 5px;
}


.footer {
	background: url(intro-bg.jpg) repeat fixed;
	position: relative;
	z-index: 200;
	margin-top: -18px;
	text-align: center;
}

.footer p {
	color: #fff;
	font-weight: 600;
	padding: 40px 0 35px 0;
	margin: 0;
	text-shadow: 1px 1px 0px rgba(0,0,0,.6);
	filter: dropshadow(color=#666666, offx=1, offy=1);
}




/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		nav a {
			padding: 7px;
		}
		
		.contact-top {
			display: none;
		}
		
		.title {
			position: relative;
		}
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		.title p {
			font-size: 30px;
		}
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		.topbar {
			text-align: center;
		}
		
		.top-social {
			display: none;
		}
		
		h1 {
			font-size: 88px;
		}
		
		h1.small {
			font-size: 78px;
		}

		
		.title p {
			font-size: 25px;
		}
		
		.caption {
			margin-left: auto;
			margin-right: auto;
			width: 300px;

		}
		
		span.line {
			display: none;
		}
		
		p.proj-type2 {
			margin-bottom: 20px;
		}
		
		
		.team ul {
			margin-bottom: 40px;
		}
		
		
		.contact-form input {
			width: 100%;
		}
		
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		h1 {
			font-size: 70px;
		}
		
		h1.small {
			font-size: 60px;
			line-height: normal;
		}
		
		.testimonials h5 {
			margin-top: 40px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		nav ul {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		
		nav a {
			padding: 4px;
		}
		
		#intro {
			height: 450px;
		}
		
		.title {
			position: relative;
			padding-top: 80px;
		}
		
		h1 {
			font-size: 70px;
			line-height: 30px;
		
		}
		
		h1.small {
			font-size: 45px;
			line-height: normal;
		}
		
		.intro-arrow {
			display: none;
		}
		
		
		.skill1 {
			margin-left: -5px;
		}
		
		.skill2 {
			margin-left: -10px;
		}
		
		.skill3 {
			margin-left: -10px;
		}
		
		.skill4 {
			margin-left: 42px;
		}
		
		.skill5 {
			margin-left: 140px;
		}
		
		.skill6 {
			margin-left: 238px;
		}
		
		.testimonials h5 {
			margin-top: 40px;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/


/*================DJP CSS================================== */
    
.btn {
    display: inline-block;
    padding: 0.4em 0.9em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    vertical-align: middle;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #127EAF;
    background: -webkit-linear-gradient(top, #25A8E3 0%, #1C92C8 50%, #188BC1 50.1%, #127EAF 100%);
    background: -moz-linear-gradient(top, #25A8E3 0%, #1C92C8 50%, #188BC1 50.1%, #127EAF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff25a8e3', endColorstr='#ff127eaf', GradientType=0);
    border-color: #127EAF #1878A5 #126A94 #1878A5;
    -webkit-box-shadow: inset 0 0 0.2em rgba(255, 255, 255, 0.5),0 1px 2px rgba(0, 0, 0, 0.15),0 0 0 black;
    -moz-box-shadow: inset 0 0 0.2em rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.15),0 0 0 #000;
    box-shadow: inset 0 0 0.2em rgba(255, 255, 255, 0.5),0 1px 2px rgba(0, 0, 0, 0.15),0 0 0 black;
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    }

.btn.large {
  font-size: 18px;
}

.btn.xlarge {
  font-size: 24px;
}
.btn:link, .btn:visited {
  color: white;
}

a.btn {
  color: #1D95CB;
  text-decoration: none;
}

.btn:hover,.btn.hover {
    text-decoration:none;
    color:#fff;
    -webkit-box-shadow:inset 0 0 0.2em rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.15),0 0 0 #000;
    -moz-box-shadow:inset 0 0 0.2em rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.15),0 0 0 #000;
    box-shadow:inset 0 0 0.2em rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.15),0 0 0 #000;
    background-color:#148bc1;
    background:-webkit-linear-gradient(top, #37afe5 0%, #1f9fda 50%, #1a98d3 50.1%, #148bc1 100%);
    background:-moz-linear-gradient(top, #37afe5 0%, #1f9fda 50%, #1a98d3 50.1%, #148bc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37afe5', endColorstr='#ff148bc1', GradientType=0)}
.btn:active,.btn.active {
    text-decoration:none;
    color:#fff;
    -webkit-box-shadow:inset 0 2px 3px rgba(0,0,0,0.32),0 1px 0 rgba(255,255,255,0.4);
    -moz-box-shadow:inset 0 2px 3px rgba(0,0,0,0.32),0 1px 0 rgba(255,255,255,0.4);
    box-shadow:inset 0 2px 3px rgba(0,0,0,0.32),0 1px 0 rgba(255,255,255,0.4);
    background-color:#188bc1;
    background-image:-webkit-linear-gradient(bottom, #25a8e3,#188bc1);
    background-image:-moz-linear-gradient(bottom, #25a8e3,#188bc1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff25a8e3', endColorstr='#ff188bc1', GradientType=0)}
.btn.disabled,.btn[disabled],.btn.disabled {
    background:#1992ca;
    opacity:0.65;
    -webkit-box-shadow:0 0 0 #000,0 0 0 #000;
    -moz-box-shadow:0 0 0 #000,0 0 0 #000;
    box-shadow:0 0 0 #000,0 0 0 #000;
    text-shadow:0 0 0 white;
    font-weight:normal}
.btn h1,.btn h2,.btn h3,.btn h4,.btn h5,.btn h6 {
    color:#fff}
.btn:link,.btn:visited {
    color:#fff}
    
.btn.green {
    border-color:#50b003 #4aa202 #429201;
    background-color:#5dc907;
    background-color:#4fac04;
    background:-webkit-linear-gradient(top, #5dc907 0%, #57b906 50%, #50ad06 50.1%, #4fac04 100%);
    background:-moz-linear-gradient(top, #5dc907 0%, #57b906 50%, #50ad06 50.1%, #4fac04 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5dc907', endColorstr='#ff4fac04', GradientType=0)}
.btn.green:hover {
    background-color:#82de09;
    background-color:#70cc05;
    background:-webkit-linear-gradient(top, #82de09 0%, #75d208 50%, #6cca08 50.1%, #70cc05 100%);
    background:-moz-linear-gradient(top, #82de09 0%, #75d208 50%, #6cca08 50.1%, #70cc05 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff82de09', endColorstr='#ff70cc05', GradientType=0)}
.btn.green:active {
    background-color:#5cc607;
    background-image:-webkit-linear-gradient(top, #489f02,#5cc607);
    background-image:-moz-linear-gradient(top, #489f02,#5cc607);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff489f02', endColorstr='#ff5cc607', GradientType=0);
    border-color:#316d01 #3d8502 #49a003}
.btn.blue {
    border:1px solid rgba(0,0,0,0.2);
    background-color:#127eaf;
    background:-webkit-linear-gradient(top, #25a8e3 0%, #1c92c8 50%, #188bc1 50.1%, #127eaf 100%);
    background:-moz-linear-gradient(top, #25a8e3 0%, #1c92c8 50%, #188bc1 50.1%, #127eaf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff25a8e3', endColorstr='#ff127eaf', GradientType=0);
    border-color:#127eaf #1878a5 #126a94 #1878a5}
.btn.blue:hover,.btn.blue.hover {
    text-decoration:none;
    color:#fff;
    -webkit-box-shadow:inset 0 0 0.2em rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.15),0 0 0 #000;
    -moz-box-shadow:inset 0 0 0.2em rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.15),0 0 0 #000;
    box-shadow:inset 0 0 0.2em rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.15),0 0 0 #000;
    background-color:#148bc1;
    background:-webkit-linear-gradient(top, #37afe5 0%, #1f9fda 50%, #1a98d3 50.1%, #148bc1 100%);
    background:-moz-linear-gradient(top, #37afe5 0%, #1f9fda 50%, #1a98d3 50.1%, #148bc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37afe5', endColorstr='#ff148bc1', GradientType=0)}
.btn.blue:active,.btn.blue.active {
    text-decoration:none;
    color:#fff;
    -webkit-box-shadow:inset 0 2px 3px rgba(0,0,0,0.32),0 1px 0 rgba(255,255,255,0.4);
    -moz-box-shadow:inset 0 2px 3px rgba(0,0,0,0.32),0 1px 0 rgba(255,255,255,0.4);
    box-shadow:inset 0 2px 3px rgba(0,0,0,0.32),0 1px 0 rgba(255,255,255,0.4);
    background-color:#188bc1;
    background-image:-webkit-linear-gradient(bottom, #25a8e3,#188bc1);
    background-image:-moz-linear-gradient(bottom, #25a8e3,#188bc1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff25a8e3', endColorstr='#ff188bc1', GradientType=0)}
.btn.blue.disabled,.btn.blue[disabled],.btn.blue.disabled {
    background:#1992ca;
    opacity:0.65;
    -webkit-box-shadow:0 0 0 #000,0 0 0 #000;
    -moz-box-shadow:0 0 0 #000,0 0 0 #000;
    box-shadow:0 0 0 #000,0 0 0 #000;
    text-shadow:0 0 0 white;
    font-weight:normal}
.btn.red {
    border:1px solid rgba(0,0,0,0.2);
    background-color:#df131b;
    background:-webkit-linear-gradient(top, #ff383e 0%, #fa242c 50%, #ed1c24 50.1%, #df131b 100%);
    background:-moz-linear-gradient(top, #ff383e 0%, #fa242c 50%, #ed1c24 50.1%, #df131b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff383e', endColorstr='#ffdf131b', GradientType=0);
    border-color:#df131b #e30a11 #c61017 #e30a11}
.btn.red:hover,.btn.red.hover {
    text-decoration:none;
    color:#fff;
    -webkit-box-shadow:inset 0 0 0.2em rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.15),0 0 0 #000;
    -moz-box-shadow:inset 0 0 0.2em rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.15),0 0 0 #000;
    box-shadow:inset 0 0 0.2em rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.15),0 0 0 #000;
    background-color:#ec1b23;
    background:-webkit-linear-gradient(top, #ff4c52 0%, #fa383f 50%, #ee2f36 50.1%, #ec1b23 100%);
    background:-moz-linear-gradient(top, #ff4c52 0%, #fa383f 50%, #ee2f36 50.1%, #ec1b23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff4c52', endColorstr='#ffec1b23', GradientType=0)}
.btn.red:active,.btn.red.active {
    text-decoration:none;
    color:#fff;
    -webkit-box-shadow:inset 0 2px 3px rgba(0,0,0,0.32),0 1px 0 rgba(255,255,255,0.4);
    -moz-box-shadow:inset 0 2px 3px rgba(0,0,0,0.32),0 1px 0 rgba(255,255,255,0.4);
    box-shadow:inset 0 2px 3px rgba(0,0,0,0.32),0 1px 0 rgba(255,255,255,0.4);
    background-color:#ed1c24;
    background-image:-webkit-linear-gradient(bottom, #ff383e,#ed1c24);
    background-image:-moz-linear-gradient(bottom, #ff383e,#ed1c24);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff383e', endColorstr='#ffed1c24', GradientType=0)}
.btn.red.disabled,.btn.red[disabled],.btn.red.disabled {
    background:#ee252d;
    opacity:0.65;
    -webkit-box-shadow:0 0 0 #000,0 0 0 #000;
    -moz-box-shadow:0 0 0 #000,0 0 0 #000;
    box-shadow:0 0 0 #000,0 0 0 #000;
    text-shadow:0 0 0 white;
    font-weight:normal}

.apply-button {
  margin-bottom: 4px;
}

.logo-bar-logos-sprite,.logo-bar .inner1 ul li .logo-bar-logos-amazon,.logo-bar .inner1 ul li .logo-bar-logos-ogilvy,.logo-bar .inner1 ul li .logo-bar-logos-sony,.logo-bar .inner1 ul li .logo-bar-logos-unilever,.logo-bar .inner1 ul li .logo-bar-logos-universal,.logo-bar .inner1 ul li .logo-bar-logos-verizon_wireless,.logo-bar .inner1 ul li .logo-bar-logos-virgin {
	background:url(logo-bar-logos.png) no-repeat;
}
.logo-bar {
	background:url(logo-bar-gradient.png) top left repeat-x;
	height:90px;
	position: relative;
	z-index: 100;
	width: 100%;
	margin-top:-75px;
}
	.logo-bar .inner1 {
		width:100%;
		height:100%;
		background:url(logo-bar-highlight.png) no-repeat;
	}
		.logo-bar .inner1 ul {
			overflow:hidden;
		}
			.logo-bar .inner1 ul li {
				float:right;
				text-align:center;
				margin-top:15px;
  		  margin-right:85px;
  		  margin-bottom:0px;
  		  margin-left:0px;
			}
				.logo-bar .inner1 ul li .logo-bar-logos-amazon {
					background-position:0 -132px;
					height:66px;
					width:96px;
				}
				.logo-bar .inner1 ul li .logo-bar-logos-ogilvy {
					background-position:0 -330px;
					height:66px;
					width:140px;
				}
				.logo-bar .inner1 ul li .logo-bar-logos-sony {
					background-position:0 -264px;
					height:66px;
					width:150px;
				}
				.logo-bar .inner1 ul li .logo-bar-logos-unilever {
					background-position:0 -66px;
					height:66px;
					width:110px;
				}
				.logo-bar .inner1 ul li .logo-bar-logos-universal {
					background-position:0 0;
					height:66px;
					width:155px;
				}
				.logo-bar .inner1 ul li .logo-bar-logos-verizon_wireless {
					background-position:0 -396px;
					height:66px;
					width:157px;
				}
				.logo-bar .inner1 ul li .logo-bar-logos-virgin {
					background-position:0 -198px;
					height:66px;
					width:156px;
				}
				.logo-bar .inner1 ul li:first-child {
					margin-left:20px;
				}
				.logo-bar .inner1 ul li em {
					display:inline-block;
				}
    				
    				
/* The three rotated elements */
.photo-stack {
  margin-left:18px;
}

.czf-teach {
  	background: url(CZF-Teaching.png) no-repeat 0 0 ;
  	width: 255px;
  	height: 255px;
  	background-color: #fff;
}

.community-pic {
  	background: url(community.png) no-repeat 0 0 ;
  	width: 255px;
  	height: 255px;
  	background-color: #fff;
}
  
.opportunity-pic {
  	background: url(opportunities.png) no-repeat 0 0 ;
  	width: 255px;
  	height: 255px;
  	background-color: #fff;
}
  

}
.photo-stack li, .photo-stack a, .photo-stack img {
    border: 0;
    display: inline-block; /* Isn't really required if float: left is included but would it'd be nice to remove the float one day. */
    float: left; /* Fixes bug in FF where inline elements don't seem to rotate on the correct axis. */
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px #333;
    -moz-box-shadow: 0 0 4px #333;
    -o-box-shadow: 0 0 4px #333;
    -ms-box-shadow: 0 0 4px #333;
    box-shadow: 0 0 4px #333;
}

/* First rotation */
.photo-stack li {
    margin: 0 25px 25px 0;
    padding: 1px;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

/* Second rotation will appear as -2deg. */
.photo-stack a {
    padding: 0;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

/* Third rotation will appear as 0. */
.photo-stack img {
    padding: 5px;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}​

/************ICONS********************************************************************/
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(glyphicons-halflings.png);
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/active states of certain elements */

.icon-white,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-image: url(glyphicons-halflings.png);
  
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  width: 16px;
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  background-position: -384px -120px;
}

.icon-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}

/**********************Bootstrap Buttons *************************/
.btn-group {
  position: relative;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}

.btn-group:first-child {
  *margin-left: 0;
}

.btn-group + .btn-group {
  margin-left: 5px;
}

.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0;
}

.btn-toolbar .btn-group {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.btn-toolbar .btn + .btn,
.btn-toolbar .btn-group + .btn,
.btn-toolbar .btn + .btn-group {
  margin-left: 5px;
}

.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group > .btn + .btn {
  margin-left: -1px;
}

.btn-group > .btn,
.btn-group > .dropdown-menu {
  font-size: 14px;
}

.btn-group > .btn-mini {
  font-size: 11px;
}

.btn-group > .btn-small {
  font-size: 12px;
}

.btn-group > .btn-large {
  font-size: 16px;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn-group > .btn + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group > .btn-mini + .dropdown-toggle {
  *padding-top: 2px;
  padding-right: 5px;
  *padding-bottom: 2px;
  padding-left: 5px;
}

.btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}

.btn-group > .btn-large + .dropdown-toggle {
  *padding-top: 7px;
  padding-right: 12px;
  *padding-bottom: 7px;
  padding-left: 12px;
}

.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0044cc;
}

.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}

.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}

.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}

.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}

.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}

.btn-mini .caret,
.btn-small .caret,
.btn-large .caret {
  margin-top: 6px;
}

.btn-large .caret {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.dropup .btn-large .caret {
  border-top: 0;
  border-bottom: 5px solid #000000;
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-group-vertical {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.btn-group-vertical .btn {
  display: block;
  float: none;
  width: 100%;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group-vertical .btn + .btn {
  margin-top: -1px;
  margin-left: 0;
}

.btn-group-vertical .btn:first-child {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.btn-group-vertical .btn:last-child {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.btn-group-vertical .btn-large:first-child {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}

.btn-group-vertical .btn-large:last-child {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

/*CIRCLE IMAGE */

.img-circle {
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
}

.quote-image {
  margin-top:5px;
}
